{{ header }}
<div id="information-orcamento" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

      <div class="row">
        <div class="col-xs-12 col-md-7 text-center">
          <div class="heading-page">
            <h1>Faça seu Orçamento</h1>
            <p>Temos os melhores preços do mercado!</p>
          </div>
          <div class="bgsocial-midia contact">
            <div class="row">
              <div class="col-md-12">
                <ul class="social-icons text-center">
                  <li class="social-icons-whatsapp" data-toggle="tooltip" title="WhatsApp"><a href="https://api.whatsapp.com/send?phone=55{{ telephone|replace({'(': "", ")" : "", " ": "", "-": ""}) }}" target="_Blank"><i class="fa fa-whatsapp"></i></a></li>

                  {% if facebook_status and facebook_url|length %}
                  <li class="social-icons-facebook" data-toggle="tooltip" title="Facebook"><a href="{{ facebook_url }}" target="_Blank"><i class="fa fa-facebook"></i></a></li>
                  {% endif %}
                  {% if instagram_status and instagram_url|length %}
                  <li class="social-icons-instagram" data-toggle="tooltip" title="Instagram"><a href="https://instagram.com/{{ instagram_url }}" target="_Blank"><i class="fa fa-instagram"></i></a></li>
                  {% endif %}
                  <li class="social-icons-email" data-toggle="tooltip" title="E-mail"><a href="mailto:{{ mail_admin }}" target="_Blank"><i class="fa fa-envelope"></i></a></li>
                </ul>

                <div class="text-center mt-3">
                  <p><i class="fa fa-envelope"></i> E-mail: <a href="mailto:{{ mail_admin }}">{{ mail_admin }}</a></p>
                  <p><i class="fa fa-whatsapp"></i> WhatsApp: {{ telephone }}</p>
                </div>
              </div>

            </div>
          </div><!-- bgsocial-midia -->
        </div>
        <div class="col-xs-12 col-md-4">
          <h4>Formulário de Orçamento</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                  <div class="form-group required">
                    <label class="col-sm-12 control-label" for="input-name">{{ entry_name }}</label>
                    <div class="col-sm-12">
                      <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
                      {% if error_name %}
                      <div class="text-danger">{{ error_name }}</div>
                      {% endif %}
                    </div>
                  </div><!-- form-control -->
                  <div class="form-group required">
                    <label class="col-sm-12 control-label" for="input-email">{{ entry_email }}</label>
                    <div class="col-sm-12">
                      <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />
                      {% if error_email %}
                      <div class="text-danger">{{ error_email }}</div>
                      {% endif %}
                    </div>
                  </div><!-- form-control -->
                  <div class="d-flex">
                    <div class="flex-fill">
                      <div class="form-group required">
                        <label class="col-sm-12 control-label" for="input-city">{{ entry_city }}</label>
                        <div class="col-sm-12">
                          <input type="text" name="city" value="{{ city }}" id="input-city" class="form-control" />
                          {% if error_city %}
                          <div class="text-danger">{{ error_city }}</div>
                          {% endif %}
                        </div>
                      </div><!-- form-control -->
                    </div><!-- col -->
                    <div class="flex-fill ml-3">
                      <div class="form-group required">
                        <label class="col-sm-12 control-label" for="input-phone">{{ entry_phone }}</label>
                        <div class="col-sm-12">
                          <input type="text" name="phone" value="{{ phone }}" id="input-phone" class="form-control" />
                          {% if error_phone %}
                          <div class="text-danger">{{ error_phone }}</div>
                          {% endif %}
                        </div>
                      </div><!-- form-control -->
                    </div><!-- col -->
                  </div>

                  <div class="form-group required">
                    <label class="col-sm-12 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
                    <div class="col-sm-12">
                      <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
                      {% if error_enquiry %}
                      <div class="text-danger">{{ error_enquiry }}</div>
                      {% endif %}
                    </div>
                  </div><!-- form-control -->
                  {{ captcha }}
                </fieldset>
                <div class="buttons">
                  <div class="pull-right">
                    <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div><!-- row -->



      {{ content_bottom }}</div>
      {{ column_right }}</div>
    </div>
    {{ footer }}
