</main>
<div class="footer-desktop">
  <footer>
    {% if facebook_status and facebook_url|length and instagram_status and instagram_url|length %}
    <div class="bgsocial-midia">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12"><h5>Encontre-nos aqui</h5></div>
            <div class="col-md-12">
              <ul class="social-icons text-center">
                <li class="social-icons-whatsapp" data-toggle="tooltip" title="WhatsApp"><a href="https://api.whatsapp.com/send?phone=55{{ telephone|replace({'(': "", ")" : "", " ": "", "-": ""}) }}" target="_Blank"><i class="fa fa-whatsapp"></i></a></li>

                {% if facebook_status and facebook_url|length %}
                <li class="social-icons-facebook" data-toggle="tooltip" title="Facebook"><a href="{{ facebook_url }}" target="_Blank"><i class="fa fa-facebook"></i></a></li>
                {% endif %}
                {% if instagram_status and instagram_url|length %}
                <li class="social-icons-instagram" data-toggle="tooltip" title="Instagram"><a href="https://instagram.com/{{ instagram_url }}" target="_Blank"><i class="fa fa-instagram"></i></a></li>
                {% endif %}
                <li class="social-icons-email" data-toggle="tooltip" title="E-mail"><a href="mailto:{{ mail_admin }}" target="_Blank"><i class="fa fa-envelope"></i></a></li>
              </ul>

              <div class="text-center mt-3">
                <p><i class="fa fa-envelope"></i> E-mail: <a href="mailto:{{ mail_admin }}">{{ mail_admin }}</a></p>
                <p><i class="fa fa-whatsapp"></i> WhatsApp: <a href="https://api.whatsapp.com/send?phone=55{{ telephone|replace({'(': "", ")" : "", " ": "", "-": ""}) }}" target="_Blank">{{ telephone }}</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- bgsocial-midia -->
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12 pull-left text-center">
          <hr>
          <p>{{ powered }} <span class="copyright">by <a href="http://kiwimidia.com/" target="_Blank">Kiwimídia</a></span></p>
        </div>
      </div>
    </div><!-- container -->
  </footer>
</div>
<div class="footer-mobile">
  <footer>
    <div class="d-flex">
      <div class="flex-fill">
        <a href="index.php?route=common/home">
          <i class="fa fa-home"></i>
        </a>
      </div><!-- flex-fill -->
      <div class="flex-fill">
        <a  href="javascript:;" class="openSearch">
          <i class="fa fa-search"></i>
        </a>
      </div><!-- flex-fill -->
      <div class="flex-fill">
        <a  href="javascript:;" class="btnToggleMenu">
          <i class="fa fa-bars"></i>
        </a>
      </div><!-- flex-fill -->
      <div class="flex-fill">
        <a href="https://api.whatsapp.com/send?phone=55{{ telephoneLink }}">
          <i class="fa fa-whatsapp"></i>
        </a>
      </div><!-- flex-fill -->
    </div>
  </footer>
</div>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>