<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <base href="{{ base }}" />
    <meta name="robots" content="follow" />
  <meta name="googlebot" content="index, follow, all" />
  <meta name="language" content="pt-br" />
  <meta name="revisit-after" content="3 days">
  <meta name="rating" content="general" />
  <meta property="og:locale" content="pt_BR"/>
  <meta property="og:type" content="website"/>
    <meta property="og:image:url" content="{{ base }}_galerias/facebook.jpg" />
  <meta property="og:image:type" content="image/jpeg" />

  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link href="catalog/view/theme/{{ theme }}/stylesheet/stylesheet.css?2" rel="stylesheet">
  <link href="catalog/view/theme/{{ theme }}/stylesheet/custom.css?2" rel="stylesheet">
  <link href="catalog/view/theme/{{ theme }}/stylesheet/template-custom.css?2" rel="stylesheet">
  <link href="catalog/view/theme/{{ theme }}/stylesheet/responsive.css?2" rel="stylesheet">
  {% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  <script src="catalog/view/javascript/common.js?2" type="text/javascript"></script>
  {% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}" />
  {% endfor %}
  {% for analytic in analytics %}
  {{ analytic }}
  {% endfor %}

  <script src="catalog/view/javascript/jquery/jquery.mask.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(document).ready(function(){    
    $('input[name="postcode"').mask('00000-000');
    $('input[name="custom_field[account][1]"').mask('000.000.000-00', {reverse: true});
    $('input[name="telephone"').mask("(99) 99999-9999");
    $('input[name="telephone"').on("blur", function() {
      var last = $(this).val().substr( $(this).val().indexOf("-") + 1 );

      if( last.length == 3 ) {
        var move = $(this).val().substr( $(this).val().indexOf("-") - 1, 1 );
        var lastfour = move + last;
        var first = $(this).val().substr( 0, 9 );

        $(this).val( first + '-' + lastfour );
      }
    });
  });
  </script>

  <script type="text/javascript" src="catalog/view/javascript/jquery/jquery.ez-plus.js"></script>
</head>
<body class="{{ class }}">
  <a href="https://api.whatsapp.com/send?phone=55{{ telephoneLink }}" target="_Blank" class="whatsapp-flutuante"><i class="fa fa-whatsapp"></i></a>

  <div class="header-desktop">
    <header id="headerDesktop" class="">
      <div class="header-wrap">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div id="logo">
                {% if logo %}
                <a href="{{ home }}"><img src="/image/catalog/logo_decorar_homeservice_branco.png?1" title="{{ name }}" alt="{{ name }}" class="img-responsive logoWhite" /><img src="{{ logo }}?1" title="{{ name }}" alt="{{ name }}" class="img-responsive logoColor" /></a>
                {% else %}
                <h1><a href="{{ home }}">{{ name }}</a></h1>
                {% endif %}
              </div>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-12">
                  <nav id="menu" class="navbar">
                    <div class="logo_menu_mobile">
                      <img src="/image/catalog/logo_decorar_papel_de_parede.png" class="img-responsive" alt="Papel de Parede Decorar">
                    </div>
                    <div class="navbar-collapse navbar-ex1-collapse">
                      <ul class="nav navbar-nav">
                        {{ menu }} 
                      </ul>
                      {{ search }}
                    </div>
                  </nav>

                </div>              
              </div><!-- row -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->
      </div>
    </header>
  </div><!-- header-desktop -->

  <div class="header-mobile">
    <nav id="top" class="mobile-top">
      <div class="container">
        <div class="d-flex">
          <div class="">
            <a href="javascript:history.go(-1);" class="btn"><i class="fa fa-angle-left"></i></a>
          </div>   
          <div class="ml-auto">
            <a href="javascript:;" class="btn btnToggleMenu"><i class="fa fa-bars"></i></a>
          </div>
        </div>
      </div>
    </nav>
    <header id="headerMobile">
      <div class="headerMobileWrap">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div id="logo">
                {% if logo %}
                <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive logoWhite" /><img src="/image/catalog/logo_decorar_papel_de_parede.png" title="{{ name }}" alt="{{ name }}" class="img-responsive logoColor" /></a>
                {% else %}
                <h1><a href="{{ home }}">{{ name }}</a></h1>
                {% endif %}
              </div>
              <a href="javascript:;" class="btn btnToggleMenu"><i class="fa fa-bars"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="box-search">
          {{ search }}
        </div>
      </div>
    </header>

    <div class="menu-mobile">
      <a href="javascript:;" class="btnCloseToggleMenu"><i class="fa fa-times"></i></a>
      <nav id="menu" class="navbar">
        <div class="logo_menu_mobile">
          <img src="/image/catalog/logo_decorar_papel_de_parede.png" class="img-responsive" alt="Papel de Parede Decorar">
        </div>
        <div class="navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            {{ menu }}
          </ul>
          {{ search }}
        </div>
      </nav>
    </div>
  </div><!-- header-mobile -->

  <main class="content_geral">