<li><a href="{{ home }}">Início</a></li>
<li><a href="/sobre">Sobre</a></li>
{% if categories %}
<li class="dropdown">
<a href="/produtos">Produtos <span class="openMenu d-inline-block d-sm-inline-block d-md-none"><i class="fa fa-angle-down"></i></span></a>
<div class="dropdown-menu">
  <div class="dropdown-inner">
    <ul class="list-unstyled">
      {% for category in categories %}
      <li><a href="{{ category.href }}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<li>
{% endif %} 
<li><a href="/orcamento">Orçamento</a></li>
<li><a href="/contato">Contato</a></li>

<li class="openSearch"><a href="javascript:;"><i class="fa fa-search"></i></a></li>