<div id="search" class="form-box-search" style="display:none;">
	<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
	<button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
</div>