{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row"> {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-xs-12 col-sm-12 col-md-7' %}
        {% endif %}
        <div class="{{ class }}">

          {% if thumb or images %}
          <div class="box-image">
            {% if thumb %}
            <img class="img-responsive" id="zoom_03" src="{{ thumb }}" data-zoom-image="{{ popup }}" />
            {% endif %}

            {% if images %}
            <div id="gallery_01">

              <a href="#" class="elevatezoom-gallery active" data-update="" data-image="{{ thumb }}" data-zoom-image="{{ popup }}">
                <img src="{{ thumb }}" width="90"/>
              </a>

              {% for image in images %}
              <a href="#" class="elevatezoom-gallery" data-image="{{ image.thumb }}" data-zoom-image="{{ image.popup }}">
                <img src="{{ image.thumb }}" width="90"/>
              </a>
              {% endfor %}

            </div>
            {% endif %}
          </div>


          <script>
          $(document).ready(function () {
            if($(window).width() > 992){
              $("#zoom_03").ezPlus({
                zoomWindowFadeIn: 500,
                zoomWindowFadeOut: 500,
                lensFadeIn: 500,
                lensFadeOut: 500,
                scrollZoom: true,
                gallery: 'gallery_01',
                galleryActiveClass: "active"
              });
            }else{
              $("#zoom_03").ezPlus({
                zoomType: 'inner',
                cursor: 'crosshair',
                gallery: 'gallery_01',
                galleryActiveClass: "active"
              });
            }
          });

          // var owl = $('.owl-carousel');
          // owl.owlCarousel({
          //   loop: true,
          //   items: 1,
          //   dots: true,
          //   thumbs: true,
          //   thumbImage: true,
          //   thumbLoop: true,
          //   thumbContainerClass: 'owl-thumbs',
          //   thumbItemClass: 'owl-thumb-item'
          // });

</script>
{% endif %}
</div>
{% if column_left or column_right %}
{% set class = 'col-sm-6' %}
{% else %}
{% set class = 'col-xs-12 col-sm-12 col-md-5' %}
{% endif %}
<div class="{{ class }}">
  <h1 class="title">{{ heading_title }}</h1>
  <div class="product-info">
    <div class="box_description">
      <p><b>{{ text_model }}</b> {{ model }}</p>
      {{ description }}
    </div>
  </div>

  <div id="product" class="product-options">
   {% if options %}
   {% for option in options %}
   {% if option.type == 'select' %}
   <div class="form-group{% if option.required %} required {% endif %} custom">
    <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
    <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
      <option value="">{{ text_select }}</option>
      {% for option_value in option.product_option_value %}
      <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
        {% if option_value.price %}
        ({{ option_value.price_prefix }}{{ option_value.price }})
        {% endif %} </option>
        {% endfor %}
      </select>
    </div>
    {% endif %}
    {% if option.type == 'radio' %}
    <div class="form-group{% if option.required %} required {% endif %} custom">
      <div class="custom-control custom-radio">
        <label class="control-label">{{ option.name }}</label>
        <div id="input-option{{ option.product_option_id }}">
          {% if (option.name == 'Numeração') or (option.name == 'Tamanhos')  or (option.name == 'Tamanho') or (option.name == 'Memória') %}
          <ul class="ulRadiosCss">
            {% for option_value in option.product_option_value %}
            <li>
              <div class="radio">
                <label>
                  <input type="radio" name="option[{{ option.product_option_id }}]" id="{{ option_value.product_option_value_id }}" value="{{ option_value.product_option_value_id }}" {% if option_value.price %} data-priceoption="{{ option_value.price|replace({ 'R$ ': '', ',': '.' }) }}" {% else %} data-priceoption="0" {% endif%} />
                  <div>
                    {{ option_value.name }}
                    {% if option_value.image %}<img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %} 
                    {% if option_value.price %}
                    <small>({{ option_value.price_prefix }}{{ option_value.price }})</small>
                    {% endif %}
                  </div>
                </label>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          {% for option_value in option.product_option_value %}
          <div class="radio">                  
            <input type="radio" id="{{ option_value.product_option_value_id }}" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" class="custom-control-input" {% if option_value.price %} data-priceoption="{{ option_value.price|replace({ 'R$ ': '', ',': '.' }) }}" {% else %} data-priceoption="0" {% endif%} />
            <label class="custom-control-label" for="{{ option_value.product_option_value_id }}">
              {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
              {{ option_value.name }}
              {% if option_value.price %}
              ({{ option_value.price_prefix }}{{ option_value.price }})
              {% endif %} </label>
            </div>
            {% endfor %}

            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
      {% if option.type == 'checkbox' %}
      <div class="form-group{% if option.required %} required {% endif %} custom">
        <div class="custom-control custom-checkbox">
          <label class="control-label">{{ option.name }}</label>
          <div id="input-option{{ option.product_option_id }}">
            {% for option_value in option.product_option_value %}
            <div class="checkbox">

              <input type="checkbox" id="{{ option_value.product_option_value_id }}" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" class="custom-control-input" {% if option_value.price %} data-priceoption="{{ option_value.price|replace({ 'R$ ': '', ',': '.' }) }}" {% else %} data-priceoption="0" {% endif%} />
              <label class="custom-control-label" for="{{ option_value.product_option_value_id }}">
                {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                {{ option_value.name }}
                {% if option_value.price %}
                ({{ option_value.price_prefix }}{{ option_value.price }})
                {% endif %} </label>
              </div>
              {% endfor %} 
            </div>
          </div>
        </div>
        {% endif %}
        {% if option.type == 'text' %}
        <div class="form-group{% if option.required %} required {% endif %} custom">
          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
          <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
        </div>
        {% endif %}
        {% if option.type == 'textarea' %}
        <div class="form-group{% if option.required %} required {% endif %} custom">
          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
          <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
        </div>
        {% endif %}
        {% if option.type == 'file' %}
        <div class="form-group{% if option.required %} required {% endif %} custom">
          <label class="control-label">{{ option.name }}</label>
          <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
          <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
        </div>
        {% endif %}
        {% if option.type == 'date' %}
        <div class="form-group{% if option.required %} required {% endif %} custom">
          <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
          <div class="input-group date">
            <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span></div>
          </div>
          {% endif %}
          {% if option.type == 'datetime' %}
          <div class="form-group{% if option.required %} required {% endif %} custom">
            <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
            <div class="input-group datetime">
              <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
              </span></div>
            </div>
            {% endif %}
            {% if option.type == 'time' %}
            <div class="form-group{% if option.required %} required {% endif %} custom">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group time">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% if recurrings %}
              <hr>
              <h3>{{ text_payment_recurring }}</h3>
              <div class="form-group required custom">
                <select name="recurring_id" class="form-control">
                  <option value="">{{ text_select }}</option>
                  {% for recurring in recurrings %}
                  <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                  {% endfor %}
                </select>
                <div class="help-block" id="recurring-description"></div>
              </div>
              {% endif %}
              <div class="form-group hide">
                <div class="box-add-quantity btn-group">
                  <button class="btn btn-primary" id="minus">-</button>
                  <input type="text" name="quantity" value="{{ minimum }}" size="2" min="1" id="input-quantity" readonly class="form-control" />
                  <button class="btn btn-primary" id="plus">+</button>
                </div>
                <script>
                $("#plus").click(function(){
                  var newQty = +($("#input-quantity").val()) + 1;
                  $("#input-quantity").val(newQty);
                });

                $("#minus").click(function(){
                  var newQty = +($("#input-quantity").val()) - 1;
                  if(newQty < 1)newQty = 1;
                  $("#input-quantity").val(newQty);
                });
                </script>
              </div>
              <div class="form-group hide">
                <input type="hidden" name="product_id" value="{{ product_id }}" />
                <div class="d-flex" id="box-button">
                  <div class="flex-grow-1">
                    <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block"><i class="fa fa-shopping-cart"></i> {{ button_add_cart }}</button>
                  </div>
                  <div>
                    <button type="button" data-toggle="tooltip" class="btn btn-default btn-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart"></i></button>
                  </div>
                </div>                          
              </div>
              {% if minimum > 1 %}
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
              {% endif %}
            </div>
          </div>
        </div>

        {% if products %}
        <div class="module_product_related">
          <h3 class="title">{{ text_related }}</h3>
          <div class="row"> {% set i = 0 %}
            {% for product in products %}
            {% if column_left and column_right %}
            {% set class = 'col-xs-8 col-sm-6' %}
            {% elseif column_left or column_right %}
            {% set class = 'col-xs-6 col-md-4' %}
            {% else %}
            {% set class = 'col-xs-12 col-sm-3' %}
            {% endif %}
            <div class="{{ class }}">
              <div class="product-thumb transition">
                <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
                  <button type="button" class="btn-wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button></div>
                  <div class="caption">
                    <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                    {% if product.rating %}
                    <div class="rating"> {% for j in 1..5 %}
                      {% if product.rating < j %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> {% endif %}
                      {% endfor %} </div>
                      {% endif %}
                      {% if product.price %}
                      {% if product.price == 'R$ 0,00' %}
                      <div class="price">
                        <ul>
                          <li><span class="price-current"><small>Sob-consulta</small></span></li>
                        </ul>
                      </div>
                      {% else %}
                      <div class="price">
                        <ul>
                          {% if not product.special %}
                          <li><span class="price-current">{{ product.price }}</span></li>
                          {% else %}
                          <li><span class="price-old">{{ product.price }}</span></li>
                          <li><span class="price-new">{{ product.special }}</span></li>
                          {% endif %}
                        </ul>
                      </div>
                      {% endif %}
                      {% endif %}
                    </div>
                    <div class="button-group">
                      <a href="{{ product.href }}" data-toggle="tooltip" title="{{ button_conferir }}"><span class="">{{ button_conferir }}</span></a>

                    </div>
                  </div>
                </div>
                {% if column_left and column_right and (i + 1) % 2 == 0 %}
                <div class="clearfix visible-md visible-sm"></div>
                {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
                <div class="clearfix visible-md"></div>
                {% elseif (i + 1) % 4 == 0 %}
                <div class="clearfix visible-md"></div>
                {% endif %}
                {% set i = i + 1 %}
                {% endfor %} </div>
              </div>
              {% endif %}
              {% if tags %}
              <p>{{ text_tags }}
                {% for i in 0..tags|length %}
                {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
                {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
                {% endfor %} </p>
                {% endif %}
                {{ content_bottom }}</div>
                {{ column_right }}</div>
              </div>
              <script type="text/javascript"><!--
              $('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
               $.ajax({
                url: 'index.php?route=product/product/getRecurringDescription',
                type: 'post',
                data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
                dataType: 'json',
                beforeSend: function() {
                 $('#recurring-description').html('');
               },
               success: function(json) {
                 $('.alert-dismissible, .text-danger').remove();

                 if (json['success']) {
                  $('#recurring-description').html(json['success']);
                }
              }
            });
             });
              //--></script> 
              <script type="text/javascript"><!--
              $('#button-cart').on('click', function() {
               $.ajax({
                url: 'index.php?route=checkout/cart/add',
                type: 'post',
                data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                dataType: 'json',
                beforeSend: function() {
                 $('#button-cart').button('loading');
               },
               complete: function() {
                 $('#button-cart').button('reset');
               },
               success: function(json) {
                 $('.alert-dismissible, .text-danger').remove();
                 $('.form-group').removeClass('has-error');

                 if (json['error']) {
                  if (json['error']['option']) {
                   for (i in json['error']['option']) {
                    var element = $('#input-option' + i.replace('_', '-'));

                    if (element.parent().hasClass('input-group')) {
                     element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                   } else {
                     element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                   }
                 }

               }
               if (json['error']['recurring']) {
                 $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
               }

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');

        // Scroll page to Elemento Error
        $('html, body').animate({ scrollTop: $('#product').first().offset().top }, 'slow');
      }

      if (json['success']) {
        $('#box-button').after('<div class="alert alert-success alert-dismissible alert-add">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        setTimeout(function () {
          $('.alert.alert-success.alert-dismissible').hide('slow');
        }, 2500);


        $('#cart > button').html('<i class="fa fa-shopping-cart"></i> <span id="cart-total">' + json['total'] + '</span>');
        $('#cart-total').html('<span id="cart-total">' + json['total'] + '</span>');

        /*$('html, body').animate({ scrollTop: 0 }, 'slow');*/

        $('#cart > ul').load('index.php?route=common/cart/info ul li');
        $('.footer-mobile #cart-total').load('index.php?route=common/footer/info div a span');

        // ao clicar envia para a página de carrinho
        /*$(location).attr('href', 'index.php?route=checkout/cart');*/
        
      }
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.scrollReview').click(function(){
  $('html, body').animate({
    scrollTop: $( $(this).attr('href') ).offset().top
  }, 750);
  return false;
});

$("textarea[maxlength]").bind('input propertychange', function() {  
  var maxLength = $(this).attr('maxlength');  
  if ($(this).val().length > maxLength) {  
    $(this).val($(this).val().substring(0, maxLength));  
  }  
});

$("#limitLengthReview").html('0');
$("#input-review").keyup(function() {
  var tamanho = $("#input-review").val().length;
  $("#limitLengthReview").html(tamanho);
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
   clearInterval(timer);
 }

 timer = setInterval(function() {
  if ($('#form-upload input[name=\'file\']').val() != '') {
   clearInterval(timer);

   $.ajax({
    url: 'index.php?route=tool/upload',
    type: 'post',
    dataType: 'json',
    data: new FormData($('#form-upload')[0]),
    cache: false,
    contentType: false,
    processData: false,
    beforeSend: function() {
     $(node).button('loading');
   },
   complete: function() {
     $(node).button('reset');
   },
   success: function(json) {
     $('.text-danger').remove();

     if (json['error']) {
      $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
    }

    if (json['success']) {
      alert(json['success']);

      $(node).parent().find('input').val(json['code']);
    }
  },
  error: function(xhr, ajaxOptions, thrownError) {
   alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
 }
});
 }
}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review_shows').delegate('.pagination a', 'click', function(e) {
  e.preventDefault();

  $('#review_shows').fadeOut('slow');

  $('#review_shows').load(this.href);

  $('#review_shows').fadeIn('slow');
});

$('#review_shows').load('index.php?route=product/product/review&product_id={{ product_id }}');

$("#form-review input[name=\'name\']").prop('required',true);

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		// data: $("#form-review").serialize(),

    data: 'name=' + encodeURIComponent($('#form-review input[name=\'name\']').val()) + '&text=' + encodeURIComponent($('#form-review input[name=\'text\']').val()) + '&rating=' + encodeURIComponent($('#form-review input[name=\'rating\']:checked').val() ? $('#form-review input[name=\'rating\']:checked').val() : '') + '&avatar=' + encodeURIComponent($('#form-review input[name=\'avatar\']:checked').val()),

    beforeSend: function() {
     $('#button-review').button('loading');
   },
   complete: function() {
     $('#button-review').button('reset');
   },
   success: function(json) {
     $('.alert-dismissible').remove();

     if (json['error']) {
      $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
    }

    if (json['success']) {
      $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

      $('input[name=\'name\']').val('');
      $('textarea[name=\'text\']').val('');
      $('input[name=\'rating\']:checked').prop('checked', false);
      $('input[name=\'avatar\']:checked').prop('checked', false);
    }
  }
});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script> 
<script>

jQuery(function() {
  $(document).ready(function() {
    // Criar a var que armazena o valor do produto original e retira cifrao e pontuacao
    var priceProduct = Number($(".product-price .price-new").text().replace("R$ ", "").replace(",", "."));

    // Quando um item foi click aciona a funcao
    $(".product-options input, #input-quantity, #minus, #plus").click(function() {
      // Quando um input for marcado faz a soma do valor do produto
      var total = $('.product-options input:checked').get().reduce(function(tot, el) {
        return tot + Number(el.dataset.priceoption);
      }, priceProduct);

      // Formata o valor da soma e insere em uma var
      var totalFormated = total.toLocaleString("pt-BR", { style: "currency" , currency:"BRL"});

      // Aplica no HTML o novo valor
      $('.product-price .price-new').text(totalFormated);

      // Caso a quantidade for alterada faz a multiplicacao
      var qta = $("#input-quantity").val();
      var totalFinale = total * qta;

      // Aplica novamente no HTML o novo valor
      $('.product-price .price-new').text(totalFinale.toLocaleString("pt-BR", { style: "currency" , currency:"BRL"}));
      //console.log('Final:'+ total +' quando mutiplicado'+ totalFinale);

    });    
  });
});
</script>
{{ footer }} 