<div class="boxReviewsClients">
  <h3 class="title">Avaliações do Produto </h3>
{% if reviews %}
  <ul>
    {% for review in reviews %}
    <li class="col-xs-12 col-sm-4 col-md-3">
<!--       <div class="image ">
        <a href="_galerias/reviews/gshock_bernado.jpg" data-lightbox="example-1">
          <img src="_galerias/reviews/gshock_bernado.jpg" alt="">
        </a>
      </div> -->
      <div class="conteudo">
        <div class="avatar"><img src="_galerias/avatares/{{ review.avatar }}.png" alt="{{ review.author }}"></div>

        <div class="rating">
          {% for i in 1..5 %}
          {% if review.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
          {% endfor %}
        </div>

        <h2>{{ review.author }}</h2>
        <p>{{ review.text }}</p>

        <span class="date">{{ review.date_added }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
<div class="text-right">{{ pagination }}</div>
{% endif %} 
<div class="col-md-12 text-center">
  <a href="#form-review" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;" class="btn btn-primary scrollViewReview">Deixe seu comentário</a>
</div>
</div>

<script type="text/javascript"><!--
$('.scrollViewReview').click(function(){
  $('html, body').animate({
    scrollTop: $( $(this).attr('href') ).offset().top
  }, 750);
  return false;
});
</script>