<div class="module-bestseller">
  <div class="heading-page">
    <h3>{{ heading_title }}</h3>
  </div>
  <div class="row">
   {% for product in products %}
   <div class="product-layout col-lg-3 col-md-3 col-sm-4 col-xs-6">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
        <button type="button" class="btn-wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
      </div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        {% if product.rating %}
        <div class="rating">
          {% for i in 1..5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> 
          {% endif %}
          {% endfor %}
          {% if product.rating %}
          ({{ product.rating }})
          {% endif %}
        </div>
        {% endif %}
        {% if product.price %}
        {% if product.price == 'R$ 0,00' %}
        <div class="price">
          <ul>
            <li><span class="price-current"><small>Sob-consulta</small></span></li>
          </ul>
        </div>
        {% else %}
        <div class="price">
          <ul>
            {% if not product.special %}
            <li><span class="price-current">{{ product.price }}</span></li>
            {% else %}
            <li><span class="price-old">{{ product.price }}</span></li>
            <li><span class="price-new">{{ product.special }}</span></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
        {% endif %}
        <div class="button-group">
          <a href="{{ product.href }}" data-toggle="tooltip" title="{{ button_conferir }}"><span class="">{{ button_conferir }}</span></a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>