<div class="module-featured">
  <div class="heading-page">
    <h3>{{ heading_title }}</h3>
  </div>
  <div class="row">
   {% for product in products %}
  <div class="product-layout col-xs-6 col-md-3">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
      </div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>