body,html{
    height: 100%;
    position: relative;
}


a {
    color: #76ae99;
}

.alert.alert-add {
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 2222;
    border-radius: 5px 0 0 5px !important;
    padding: 20px 10px;
}

.clear,.clearfix{
    clear:both;
}
.img-fullwidth {
    width: 100%;
}
.image {
    margin: 0 0 20px 0;
    z-index: 22;
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    padding: .9rem .75rem;
    height:auto;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background: #eee;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: none;
}
.select-quantity{
    width: 65px;
    display: inline-block;
    margin: 3px;
    top: 1px;
    position: relative;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
}
.btn-thema {
    margin: 0;
    font-weight: bold;
    color: #FFF;
    background: #00b051;
    border: 1px solid #00b051;
    border-bottom: 3px solid rgba(10, 10, 10, 0.29);
}
.btn-thema:hover {
  background: #009846;
  color: #FFF;
  border: 1px solid #00b051;
  border-bottom: 3px solid rgba(0, 0, 0, 0.19);
}
.btn-border-thema{
    background: transparent;
    border:2px solid #00b051;
    color:#00b051;
}
.btn-border-thema:hover{
    background:#00b051;
    color:#FFF;
}
.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bc0de;
    background-image: linear-gradient(to bottom, #5bc0de, #46b8da);
    background-repeat: repeat-x;
    border-color: #46b8da #46b8da #39a5c5;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #269abc;
}
/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #269abc;
}
footer {
    margin-top: 30px;
    padding: 30px 0;
    color: #e2e2e2;
    background-color: rgba(242, 242, 242, 0.3);
    border-top: 1px solid rgba(242, 242, 242, 0.5);
    color: #888;
}
footer > .container + .container {
    margin: 30px auto;
}
footer hr {
    border-color: rgba(242, 242, 242, 1);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}
footer a {
    color: #FFF;
}
footer a:hover{
    text-decoration: underline;
}
footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #76ae99;
    letter-spacing: -0.8px;
    text-transform: uppercase;
}

footer .links-footer{
    margin:0;
    padding:0;
    list-style: none;
}
footer .links-footer li{
    display: list-item;
    padding: 3px 0 3px 10px;
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
footer .links-footer li a {
    color: #888;
    font-size: 13px;
}
footer .links-footer li:hover{
    padding:3px 0 3px 12px;
}
footer .links-footer li a:hover, footer .links-footer li a:focus {
    color: #76ae99;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 95%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

#logo {
    width: 100%;
}
#logo img {
    margin: 30px auto 0px;
}
#search {
    margin-top: 15px;
}

/* search */
#search {
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

#search input.form-control {
    border: 0;
    background: none;
    box-shadow: none;
}
#search button {
    background: none;
    border: 0;
    box-shadow: none;
    padding: 10px 20px !important;
    text-shadow: none !important;
}

#headerDesktop .btn-user {
    margin: 15px 0 0 0;
    padding: 8px 15px;
    background: none;
    display: inline-block;
    border: 0;
    box-shadow: none;
    font-size: 14px;
    color: #333;
}

#headerDesktop .btn-user a {
    color: #333;
}

#headerDesktop .btn-user i {
    font-size: 25px;
}


#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    background: transparent;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

#cart > .btn > i.fa {
    font-size: 25px;
}

#cart > .btn > span#cart-total {
    position: absolute;
    width: 23px;
    height: 23px;
    line-height: 23px;
    font-weight: bold;
    background: #333;
    color: #FFF;
    border-radius: 100%;
}

#cart > .btn:hover,
#cart.open > .btn,
#cart.open > .btn:hover{
    color: #76ae99;
    background: none;
    border: 0;
}
#cart > .btn:hover ~ .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}
#cart .dropdown-menu button.btn-xs {
    padding: 3px;
}
#cart .dropdown-menu button.btn-xs i {
    font-size: 10px;
}
nav#menu {
    border-radius: 0;
    background: #FFF;
    border: 0;
    margin:0;
    box-shadow: 0 0 5px #E8E8E8;
}
@media (max-width: 767px){
    nav#menu {
        border-radius: 4px;
    }
}
nav#menu .nav > li > a {
    padding: 15px 15px;
    color: #4D4D4D;
    text-shadow: none;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    margin-left: -3px;
}
nav#menu .nav > li a ~ .dropdown-menu {
    left: -3px;
    padding: 0;
}
nav#menu .nav > li:hover > a,
nav#menu .nav > li > a:hover,
nav#menu .nav > li.open > a {
    color: #FFF;
    background: #76ae99;
    border-bottom: 2px solid #7d270b;
}
#menu .dropdown-inner a {
    min-width: 160px;
    display: block;
    padding: 9px 15px;
    clear: both;
    line-height: 20px;
    border-bottom: 1px solid #F2F2F2;
    color: #4d4d4d;
    font-size: 13px;
}
#menu .dropdown-inner li:last-child a {
    border-bottom: 0;
}
nav#menu .dropdown-inner li a:hover {
    color: #FFFFFF;
    background: #76ae99;
}
nav#menu .see-all{
    color:#4d4d4d;
}
nav#menu .see-all:hover,
nav#menu .see-all:focus{
    background: #76ae99 !important;
}
@media (min-width: 768px){
    .navbar-nav {
        float: left;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .navbar-nav>li {
        float: none;
        display: inline-block;
    }
}
#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
    border-radius: 0;
    background-color: #76ae99;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.5);
}
#top {
    background-color: #333333;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
    margin: 0 0 20px 0;
}
#top-links{
    padding: 10px 0 0;
}
#top-links ul{
    margin: 0;
}

#top .btn-link, #top-links li, #top-links a{
    color: #4d4d4d;
    text-shadow: none;
    font-size: 13px;
    padding: 0 10px;
}
#top .btn-link:hover, #top-links a:hover{
    color: #76ae99;
}
#top-links li form div > button {
    color: #cecece;
    text-shadow: none;
    border: 0;
    background: none;
    line-height: 17px;
    padding: 0;
}
#top .nav .open>a,
#top .nav .open>a:focus,
#top .nav .open>a:hover {
    background: none;
    color:#FFF;
}
#top-links ul li.dropdown-contact > ul {
    display: none;
    z-index: 99;
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 5px #000;
    border-radius: 3px;
    padding: 5px 10px;
    width: 240px;
    right: 0;
    top: 100%;
    list-style: none;
    text-align: center;
}

#top-links ul li.dropdown-contact:hover > ul {
    display: block;
}
#top-links ul li.dropdown-contact {
    position: relative;
}
#top-links ul li.dropdown-contact > ul li {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 0;
}
#top-links ul li.dropdown-contact > ul li p{
    font-size:13px;
    color:#333;
}
#top-links ul li.dropdown-contact > ul li > div {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-size: 11px;
    margin: 0;
}

#top-links ul li.dropdown-contact > ul li > span {
    font-size: 19px;
    font-weight: bold;
    color: #76ae99;
}
#top-links ul li.dropdown-contact > ul li.e-mail > span {
    font-size: 13px;
}
#top-links ul li.dropdown-contact > ul li > span a{
    color:#76ae99;
}

#top-links ul li.dropdown-contact > ul li > span i {
    background: #76ae99;
    color: #FFF;
    font-size: 13px;
    width: 19px;
    height: 19px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
}

#top-links ul li.dropdown-contact > ul li:hover > span,
#top-links ul li.dropdown-contact > ul li:hover > span a{
    color: #111;
}


#top .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    font-size: 13px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.375);
}

#top .open>.dropdown-menu {
    display: block;
}

#top-links .dropdown-menu > li > a {
    text-shadow: none;
    color: #888;
    padding: 5px 15px;
}

#top-links .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #76ae99;
    background-image: linear-gradient(to bottom, #76ae99, #1c95d8);
    background-repeat: repeat-x;
}



/* BANNER - SELOS */
.banners-selos {
    padding: 0;
    margin: 0;
}
.banners-selos h2 {
    margin: 0px;
    text-transform: uppercase;
    color: #2B2B2B;
    font-size: 15px;
    font-weight: 700;
    padding-top: 18px;
}
.banners-selos p {
    font-size: 12px;
    margin: 0;
    color: #58595b
}
.banners-selos a {
    color: #58595b;
}
.banners-selos a:hover {
    text-decoration: none;
}
.banners-selos [class^="icon-selos"] {
    color: #76ae99;
    float: left;
    width: 61px;
    height: 69px;
    padding: 0;
    border: 0;
    margin-right: 5px;
    text-align: center;
    font-size: 40px;
    line-height: 69px;
    border-radius: 100%;
    display: table;
}
.banners-selos [class^="icon-selos"] i.fa {
    font-size: 45px;
}
@media screen and (max-width:991px){
    .banners-selos [class^="icon-selos"] {
        margin-bottom: 20px;
    }    
}
.banners-selos [class^="icon-selos"]:before{ display: table-cell;
    vertical-align: middle;
}
/* BANNER - SELOS */



.breadcrumb{
    background: none;   
    border: none;    
    padding: 0;    
    margin: 10px 0;
}

.breadcrumb li {
    text-shadow: none;
    padding: 0;
}

.breadcrumb li:last-child:after {
    display: none;
}
.breadcrumb li:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    top: 5px;
}

.breadcrumb li::after {
    border: 0;
    font-family: FontAwesome;
    content: "\f105";
    border: 0;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
    font-size: 13px;
    transform: none;
    display: inline-block;
    position: relative;
    margin: 0px 7px;
}

.breadcrumb li a {
    color: #888;
    font-size: 12px;
}

.breadcrumb li a i {
    font-size: 12px;
}

.breadcrumb li:last-child a {
    color: #76ae99;
    font-weight: bold;
}

.heading-page{
    width: 100%;
    display: block;
}

.heading-page h1,
#content > h1{
    position: relative;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px !important;
    padding: 0;
    margin: 20px 0 !important;
}
h3.title,
.heading-page h3,
#content > h3 {
    position: relative;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px !important;
    padding: 0;
    margin: 20px 0 !important;
}
h4.title,
.heading-page h4,
#content > h4 {
    position: relative;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px !important;
    padding: 0;
    margin: 20px 0 !important;
}

h3.title::after,
h4.title::after,
.heading-page h1::after,
.heading-page h3::after,
.heading-page h4::after,
#content > h1::after,
#content > h3::after,
#content > h4::after {
    content: '';
    clear: both;
    position: relative;
    width: 40px;
    height: 5px;
    margin: 15px auto;
    display: block;
    background: #76ae99;
}

.product-layout {
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}

.product-layout.product-grid:nth-child(4n) {
    border-right: none;
}
#product-category .product-layout.product-grid:nth-child(3n) {
    border-right: none;
}
#product-category .product-layout.product-grid:nth-child(4n) {
    border-right: 1px solid #e8e8e8;
}
.product-layout .product-thumb {
    padding: 0 0 20px 0;
    margin: 0;
    border:0;
}

.product-thumb h4 {
    color: #333;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0;
    min-height: 65px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.product-thumb h4 a{
    color:#111;
}
.product-thumb h4 a:hover{
    color:#76ae99;
}
.product-thumb .caption{
    padding: 0px;
    min-height: 150px;
    position: relative;
}
.product-thumb .price {
    color: #444;
    width: 100%;
}

.product-thumb .price ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.product-thumb .price ul li {
    display: inline-block;
    padding: 0;
}

.product-thumb .price ul li span {
    font-weight: bold;
    font-size: 21px;
    letter-spacing: -0.3px;
    margin: 0;
    padding: 0;
    color: #76ae99;
    font-family: 'Source Sans Pro', sans-serif;
}

.product-thumb .price ul li span.price-old {
    font-weight: normal;
    font-size: 14px;
    color: #888;
    text-decoration: line-through;
}
.product-thumb .button-group {
    border-top: 0;
    background: none;
    text-align: center;
    position: relative;
    width: 100%;
    margin: 15px 0 0 0;
}



.product-thumb .button-group a{
    border: 2px solid #76ae99;
    background: rgba(255, 255, 255, 0.80);
    color: #76ae99;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 15px;
    width: auto !important;
    font-size: 12px;
    text-transform: uppercase;
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
    float: none;
    display: inline-block;
}

.product-thumb .button-group a:hover{
    color: #FFF;
    background: #76ae99;
    border: 2px solid #00000036;
    text-decoration: none;
    cursor: pointer;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
}
.product-thumb .button-group button{}
.product-thumb .button-group button:hover {}

.product-thumb .rating{
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
}

.product-thumb .btn-wishlist{
    position: absolute;
    top: 1px;
    right: 0px;
    border-radius: 100%;
    background: #E6E6E6;
    border: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
}



/* FEATURED */
.module_product_related 
.module-featured {
    width: 100%;
    margin-bottom:50px;
}

/** BANNERS RODAPE **/
.banner_pagamentos{
    width: 100%;
    float:left;
}
.banner_pagamentos ul{
    margin: 0;
    list-style: none;
    padding: 0;
    float: left;
    width: 100%;
    text-align: left;
}
.banner_pagamentos ul li{
    width:100px;
    margin:5px;
    display: inline-block;
}
.banner_pagamentos ul li.parcelamento {
    width: 340px;
}
/* CUSTOM - ICONS */
.bgsocial-midia{
    background: #76ae99;
    color:#FFF;
    padding: 20px 0;
    margin: 20px 0 40px;
}
.bgsocial-midia h5{
    font-weight: bold;
    font-size: 18px;
    margin: 16px 0 !important;
    text-align: center;
    color:#FFF;
    text-transform: uppercase;
}
@media screen and (max-width:991px){
    .bgsocial-midia h5,
    .social-icons{
        text-align: center;
    }
}
.bgsocial-midia .social-icons li a {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.bgsocial-midia .social-icons li a i {
    font-size: 20px;
}
.bgsocial-midia.contact {
    background: none;
    color:#525252;
}
.bgsocial-midia.contact h5 {
    color: #76ae99;
}
.bgsocial-midia.contact .social-icons li a {
    background: #76ae99;
    color: #FFF !important;
}

.social-icons{margin:0; padding:0; list-style: none;}
.social-icons li{display: inline-block;}
.social-icons li a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #fbfbfb;
    border-radius: 100%;
    display: block;
    float: left;
    margin: 0 5px;
    box-shadow: 0 0 1px rgba(255,255,255,0.5) inset;
    border: 1px solid rgba(0,0,0,0.05);
    height: 35px;
    line-height: 33px;
    width: 35px;
    text-align: center;
    color: #333 !important;
    text-decoration: none;
}
.social-icons li:hover a {
    background: #171717;
    color: #FFF !important;
}

.social-icons li:hover.social-icons-twitter a {
    background: #1aa9e1;
}

.social-icons li:hover.social-icons-facebook a {
    background: #3b5a9a;
}

.social-icons li:hover.social-icons-whatsapp a {
    background: #3adb76;
}

.social-icons li:hover.social-icons-linkedin a {
    background: #0073b2;
}

.social-icons li:hover.social-icons-rss a {
    background: #ff8201;
}

.social-icons li:hover.social-icons-googleplus a {
    background: #dd4b39;
}

.social-icons li:hover.social-icons-pinterest a {
    background: #cc2127;
}

.social-icons li:hover.social-icons-youtube a {
    background: #c3191e;
}

.social-icons li:hover.social-icons-instagram a {
    background: #E1306C;
}

.social-icons li:hover.social-icons-skype a {
    background: #00b0f6;
}

.social-icons li:hover.social-icons-email a {
    background: #dd4b39;
}

.social-icons li:hover.social-icons-vk a {
    background: #6383a8;
}

.social-icons li:hover.social-icons-xing a {
    background: #1a7576;
}

.social-icons li:hover.social-icons-tumblr a {
    background: #304e6c;
}

.social-icons li:hover.social-icons-reddit a {
    background: #ff4107;
}


/*************************************/
/************* PRODUCT ***************/
/*************************************/
#product-product h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
    display: inline-block;
}
#product-product h3 {
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 10px 0;
    display: inline-block;
}
#product-product .rating{
    text-align: left;
}
#product-product .product-info {
    width: 100%;
    float: left;
}
#product-product .product-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#product-product .product-info ul li {
    display: inline-block;
    padding: 0 30px 0 0;
}

#product-product .product-price {
    width: 100%;
    float: left;
    text-align: left;
    position: relative;
    margin: 10px 0;
}
@media screen and (max-width: 767px){
    #product-product .product-price{
        width:100%;
    }
}
#product-product .product-price::before, #product-product .product-price::after {
    /* content: ''; */
    width: 20px;
    height: 5px;
    background: #76ae99;
    display: block;
    margin: 10px auto;
}

#product-product .product-price span.price-old {
    font-size: 15px;
    color: #808080;
    letter-spacing: -0.5px;
    text-decoration: line-through;
    display: block;
}

#product-product .product-price span.price-new {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    color: #333;
    margin: 5px 0;
    display: inline-block;
}
#product-product .parcelamento-product{
    width:100%;
    float:left;
}
#product-product .parcelamento-product ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#product-product .product-discount {    
    width: 100%;
    float: left;
    margin: 10px 0;
    padding: 10px 0;
    background: rgba(0,0,0,0.02);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-left: 5px solid #76ae99;
    border-right: 5px solid #76ae99;
    border-radius: 12px;
    text-align: center;
}


#product-product .product-discount ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#product-product #button-cart {
  padding: 10px 20px;
  margin: 0;
  position: relative;
  float: none;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0;
  text-transform: none;
  font-weight: bold;
  border-radius: 5px;
  background: #00b051;
  border: 1px solid #00b051;
  border-bottom: 3px solid rgba(10, 10, 10, 0.29);
}
#product-product #button-cart:hover {
  background: #009846;
  color: #FFF;
  border: 1px solid #00b051;
  border-bottom: 3px solid rgba(0, 0, 0, 0.19);
}
#product-product #button-cart i {
    font-size: 22px;
}

#product-product #button-cart.scrollOn {
    position: fixed;
    bottom: 10px;
    z-index: 999;
    left: 5%;
    width: 90%;
    box-shadow: 0 0 15px #0000005c;
}

#product-product .box-add-quantity input.form-control{
    float: left;
    width: 60px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
    border: 1px solid #76ae99;
}

/* CARROUSEL - PRODUCT */
#product-product .owl-carousel {
    height: 100%;
}

#product-product .owl-carousel .owl-dots {
    bottom: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
}
#product-product .owl-carousel .owl-dots .owl-dot {
    margin: 0 5px 0 0;
}
#product-product .owl-carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: #E8E8E8;
    display: block;
    border-radius: 100%;
}
#product-product .owl-carousel .owl-dots .owl-dot.active span {
    background: #76ae99;
}

#product-product .owl-carousel .owl-stage-outer{
    position: relative;
    width: 100%;
    float: right;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}


#product-product .owl-thumb-item img {
    width: 70px;
    height: auto;
}

#product-product .owl-thumbs {
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    float: left;
    text-align: center;
    padding: 0;
}
#product-product .owl-carousel .owl-item{
    padding:0px;
}

#product-product .owl-thumb-item {
    display: table-cell;
    background: #FFF;
    opacity: .8;
    border: 1px solid #F2F2F2;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#product-product .owl-thumb-item.active {
    opacity: 1;
    border: 1px solid #DDD;
}

#product-product .product-options {
    width: 100%;
    display: inline-block;
}

#product-product .product-options .d-flex {
    margin: 20px 0 0;
}

#product-product .product-options .d-flex div {
    margin: 0 10px 0 0;
}

#product-product .product-options .d-flex div .btn-wishlist {
    padding: 14px;
    background: none;
    border: 0;
    box-shadow: none;
    color: #333;
}

#product-product .product-options .d-flex div .btn-wishlist:hover {
    color: #76ae99;
}

#product-product .product-options .d-flex div .btn-wishlist i {
    font-size: 26px;
}

#product-product .product-options .form-group label.control-label {
    font-size: 14px;
    font-weight: bold;
}
#product-product .nav-tabs {
    width: 100%;
    float: none;
    border: 0;
    margin:15px 0;
}
#product-product .nav-tabs li {
    display: table-cell;
    width: 1%;
    float: none;
}
#product-product .nav-tabs li a {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
}
#product-product .nav-tabs li.active a,
#product-product .nav-tabs li.active a:focus,
#product-product .nav-tabs li.active a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: #ddd;
}


#checkout-cart .panel-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#checkout-cart .panel-default>.panel-heading {
    background: none;
    border: 0;
    border-bottom: 2px solid #DDD;
}

#checkout-cart .panel-default>.panel-heading .panel-title {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}


#product-category .list-categories{
    width: 100%;
    float: left;
    margin: 20px 0;
    padding: 5px 0;

}
#product-category .list-categories ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
#product-category .list-categories ul li{
    display: inline-block;
}

#product-category .list-categories ul li a {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #00000012;
    margin: 0px 2px 10px;
    font-size: 15px;
    display: inline-block;
    background: #76ae99;
    color: #FFF;
}

#product-category .list-categories ul li a:hover {
    background: #5a947e;
    color: #FFF;
    border: 1px solid rgba(0,0,0,0.2);
}
.product-list .product-thumb .button-group{
    border:0;    
}

#product-manufacturer .category-options,
#product-search .category-options,
#product-category .category-options {
    width: 100%;
    float: left;
    margin: 0 0 40px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#product-search .category-options > div,
#product-manufacturer .category-options > div,
#product-category .category-options > div {
    display: table-cell;
}


#product-manufacturer .product-list .product-thumb ,
#product-search .product-list .product-thumb ,
#product-category .product-list .product-thumb {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
}
#product-manufacturer .product-list .product-thumb h4 ,
#product-search .product-list .product-thumb h4 ,
#product-category .product-list .product-thumb h4 {
    font-size: 14px;
}
#product-manufacturer .product-list .product-thumb .image ,
#product-search .product-list .product-thumb .image ,
#product-category .product-list .product-thumb .image {
    float: left;
    width: 180px;
}
#product-manufacturer .product-list .product-thumb .caption ,
#product-search .product-list .product-thumb .caption ,
#product-category .product-list .product-thumb .caption {
    float: left;
    width: calc(100% - 200px);
    margin: 0;
}
#product-manufacturer .product-list .product-thumb .price ul,
#product-search .product-list .product-thumb .price ul,
#product-category .product-list .product-thumb .price ul{
    margin: 0 auto;
    float: none;
    width: 90%;
}

#product-manufacturer .product-list .product-thumb .button-group ,
#product-search .product-list .product-thumb .button-group ,
#product-category .product-list .product-thumb .button-group {
    opacity: 1;
}

@media screen and (max-width:890px){
    #product-manufacturer .category-options,
    #product-search .category-options,
    #product-category .category-options{
        display: inline-block;
    }
    #product-manufacturer .category-options > div ,
    #product-search .category-options > div ,
    #product-category .category-options > div {
        display: inline-block;
    }
    #product-manufacturer .category-options >  div + div ,
    #product-search .category-options >  div + div ,
    #product-category .category-options >  div + div {
        float: left !important;
    }
    #product-manufacturer .category-options > div + div + div ,
    #product-search .category-options > div + div + div ,
    #product-category .category-options > div + div + div {
        width: 100%;
        margin: 10px 0 0 0;
    }

}
@media screen and (max-width:550px){
    #product-manufacturer .product-list .product-thumb .image ,
    #product-search .product-list .product-thumb .image ,
    #product-category .product-list .product-thumb .image {
        float: left;
        width: 100%;
    }
    #product-manufacturer .product-list .product-thumb .caption,
    #product-search .product-list .product-thumb .caption,
    #product-category .product-list .product-thumb .caption{
        width: 100%;
    }
}




#product-product .form-avatares input {
    display: none;
}

#product-product .form-avatares .review-avatar {
    width: 60px;
    border: 2px solid #FFF;
    box-shadow: 1px 1px 5px #0000001f;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}


#product-product .form-avatares input:checked ~ .review-avatar {
    border: 4px solid #76ae99;
}



.boxReviewsClients {
    float: left;
    width: 100%;
    padding:50px 0;
}

.boxReviewsClients ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.boxReviewsClients > ul > li {
    display: inline-block;
    float: left;
    padding: 15px;
}
.boxReviewsClients > ul > li div.image {
    background: #FFF;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 20px;
}

.boxReviewsClients > ul > li div.image img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.boxReviewsClients > ul > li div.conteudo {
    position: relative;
    float: left;
    width:100%;
    min-height: 250px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    background: #FFF;
    border-radius: 5px;
    margin: 50px 0 0 0;
    padding: 0 10px 10px;
    word-wrap: break-word;
}

.boxReviewsClients > ul > li div.conteudo div.avatar {
    background: #FFF;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 4px;
    top: -30px;
    position: relative;
    margin: 0 auto;
}

.boxReviewsClients > ul > li div.conteudo h2 {
    margin: 0 0 0 0;
    padding: 0 30px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #111;
}


.boxReviewsClients > ul > li div.conteudo p {
    font-size: 13px;
    text-align: center;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}
.boxReviewsClients > ul > li div.conteudo div.rating {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 0 10px 0;
}
.boxReviewsClients > ul > li div.conteudo div.avatar img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
}

.boxReviewsClients > ul > li div.conteudo span.date {
    text-align: center;
    width: 100%;
    float: left;
    margin:10px 0 0 0;
}

.boxReviewsClients > ul > li div.conteudo div.ratingReviewsClients .star-rating {
    position: relative;
    margin: 0 auto;
    font-size: 12px;
    display: inline-block;
    float: none;
}


.boxReviewsClients ul li div.conteudo div.ratingReviewsClients {
    float: left;
    width: 100%;
    text-align: center;
    margin: -30px 0 0 0;
}


.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating:after {
    content: '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005';
    font-family: 'FontAwesome';
    position: relative;
    color: #878787;
}



.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating:before {
    font-family: 'FontAwesome';
    color: #ff8f00;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating.star-1:before {
    content: '\f005';
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating.star-2:before {
    content: '\f005' ' ' '\f005';
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating.star-3:before {
    content: '\f005' ' ' '\f005' ' ' '\f005';
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating.star-4:before {
    content: '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005';
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating.star-5:before {
    content: '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005';
}

@media screen and (max-width:767px){
    .boxReviewsClients ul li{
        width: 100%;
    }
    .boxReviewsClients ul li div.conteudo{
        min-height: 100%;
        width: 100%;
        padding: 0 0 30px 0;
    }

}














.checkbox label, .radio label{
    padding-left: 25px;
    margin-bottom: 5px;
    position: relative;
}
.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
}

.custom-control-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 1rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #007bff;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
}

.custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}

.custom-control-label {
  margin-bottom: 0;
}

.custom-control-label::before {
    position: relative;
    top: 0.25rem;
    left: 0;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}

.custom-control-label::after {
    position: absolute;
    top: 0.24rem;
    left: 25px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  font-family: FontAwesome;
  content: "\f00c";
  color: #FFF;
  font-size: 8px;
  margin: -2px 3px 0 3px;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #007bff;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-radio .custom-control-label::before {
  border-radius: 50%;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    width: 0.7rem;
    height: 0.7rem;
    background: #FFF;
    display: inline-block;
    margin: 4px;
    border-radius: 100%;
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(128, 189, 255, 0.5);
}

.custom-select:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.custom-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.custom-select::-ms-expand {
  opacity: 0;
}

.custom-select-sm {
  height: calc(1.8125rem + 2px);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 75%;
}

.custom-select-lg {
  height: calc(2.875rem + 2px);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 125%;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 0;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-input:focus ~ .custom-file-control {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-file-input:focus ~ .custom-file-control::before {
  border-color: #80bdff;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse";
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(calc(2.25rem + 2px) - 1px * 2);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: 1px solid #ced4da;
  border-radius: 0 0.25rem 0.25rem 0;
}

.ulRadiosCss {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ulRadiosCss .radio{
  float: none;
  padding: 0;
  margin: 0 5px 5px 0;
  display: inline-block;
}

.ulRadiosCss .radio label {
    margin: 0;
    padding: 0;
}
.ulRadiosCss:after {
  content: "";
  clear: both;
}

.ulRadiosCss li {
  float: none;
  display: inline-block;
  width: 100%;
}

.ulRadiosCss li div input{display:none !important;}
/* style label */
.ulRadiosCss li input:empty ~ label {
  position: relative;
  float: left;
  line-height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ulRadiosCss li input ~ div {
    color: #888;
    font-size: 14px;
    padding: 6px 8px;
    border: 1px solid #D1D3D4;
    background: #f9f9f9;
    padding-right: 25px;
    border-radius: 3px;
}
.ulRadiosCss li input:hover:not(:checked) ~ div {
  color: #888;
}


/* radio focus */
.ulRadiosCss li input:focus ~ div:before {
  box-shadow: 0 0 0 3px #999;
}
.ulRadiosCss li div label .label{
  position: absolute;
  top: -2px;
  right: -6px;
  padding: 5px;
  font-size:8px;
}

.ulRadiosCss li input:checked ~ label {
  color: #FFF;
  background: #007bff;
  border:1px solid rgba(0, 0, 0, 0.1);
}

.ulRadiosCss li input:hover:not(:checked) ~ div{
    border:1px solid #007bff;

}
.ulRadiosCss li input:checked ~ div {
  color: #FFF;
  background: #007bff;
  border:1px solid #000;
}
.ulRadiosCss li input ~ div::before {
    content: "\f00c";
    font-family: FontAwesome;
    opacity: 0;
}
.ulRadiosCss li input:checked ~ div::before {
    opacity: 1;
}
.ratingForm {
    width: 100%;
    float: left;
}

.ratingForm input[type=radio] {
    display: none;
}

.ratingForm input[type=radio]:checked ~ i.fa {
    color: #76ae99;
}

.ratingForm input[type=radio]:checked ~ i.fa:before {
    content: "\f005";
}

.addthis_toolbox{
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 15px 0 5px;
    margin-bottom:15px;
}

.account-account #content h2 {
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #F2F2F2;
    padding: 0 0 10px;
}
.account-account .list-unstyled li {
    display: inline-block;
    padding: 30px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    margin-right: 10px;
}


.tab-content table{
    width: 100% !important;
}

.tab-content th {
    width: 50% !important;
}


/* Page - Login */

div#account-login .box-login {
}

div#account-login .box-login h2{
    text-align:center;
    font-weight:bold;
    font-size:32px;
}

div#account-login .box-login p{
    text-align:center;
    font-weight:bold;
}

div#account-register form .form-control, div#account-login .box-login form .form-control {
    background: #eee;
    border: 1px solid transparent;
    box-shadow: none;
    height: 40px;
    font-size: 14px;
    padding: 0 20px;
}

.has-error .form-control {
    border: 1px solid #a94442 !important;
}


/* Page - Cart-new */
.alert-cart {
    border: 1px solid #F2F2F2;
    margin: 10px;
}
.cart-new{
    background: #FFF;
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 10px 0;
}
.cart-new [class*="col-"] {
    padding: 0 5px;
}
.cart-new .item {
    border-bottom: 1px solid #F2F2F2;
    padding: 10px 0 10px 0;
    margin: 0;
}

.cart-new .item:hover {
    background: #F9F9F9;
}
.cart-new .item .dropdown .dropdown-item {
    width: 100%;
    display: inline-block;
    padding: 5px;
    font-size: 13px;
    color:#666;
}
.cart-new .item .dropdown .dropdown-item:hover{
    color: #76ae99;
}
.cart-resume {
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.cart-resume ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cart-resume ul li {
    display: list-item;
    font-size: 14px;
    padding: 5px;
}

#checkout-cart .panel-group{
    margin-bottom: 0;
}
#checkout-cart .panel-default{
    border-radius: 5px;
}
#checkout-cart .panel-default>.panel-heading{
    border:0;
}

#cart .dropdown-menu{
    min-width: 220px;
    right: 0;
    left: auto;
}

.box-qta-cart{
    text-align:center;
    padding:5px;
}
.box-qta-cart #minus, .box-qta-cart #plus {
    width: 20px;
    height: 20px;
    line-height: 0px;
    padding: 2px;
    display: block;
    margin: 0;
    border-radius: 0;
}

.box-qta-cart .input-quantity {
    height: 40px;
    text-align: center;
}

.box-qta-cart .button-refresh-cart {
    height: 40px;
    border-radius: 0;
}

#common-success #content{
    text-align: center;
}
#common-success #content p{
    font-size:17px;
    line-height: 27px;
}