.header-desktop,

.footer-desktop{

	display: block;

}

.header-mobile,

.footer-mobile{

	display: none;

}





@media screen and (max-width: 992px){

	.whatsapp-flutuante{

		display: none;

	}

	/*body[class*="common-home"]:after,

	body[class*="checkout-cart"]:after

	{

		content: '';

		width: 100%;

		height: 20%;

		display: block;

		background: #76ae99;

		position: absolute;

		top: 0;

		z-index: -1;

	}

	body[class*="checkout-cart"] h1.title, 

	body[class*="checkout-cart"] .heading-page h1,

	body[class*="checkout-cart"] #content > h1{

		color:#FFF;

		}*/



		.breadcrumb{

			display: none;

		}

		#top .container{

			padding:0;

		}

		#logo{

			display: none;

		}



		.header-mobile .box-search{

			display: none;

		}



		#logo + .btnToggleMenu{

			display: none;

		}



		[class*="common-home"] .header-mobile .box-search{

			display: block;

		}	



		[class*="common-home"] #logo{

			display: block;

			margin:0;

		}

		[class*="common-home"] #logo + .btnToggleMenu {

			display: block;

			position: absolute;

			top: 18px;

			background: #76ae99;

			color: #FFF;

		}

		[class*="common-home"] .fixed #logo + .btnToggleMenu {

			top: 5px;

		}



		[class*="common-home"] .header-mobile #top{

			display: none;

		}

		[class*="common-home"] .header-mobile #headerMobile{

			padding-top: 20px;

		}

		[class*="common-home"] #logo img{

			margin:0 auto;

		}



		[class*="product-product-"] #top {

			margin: 0;

		}



		[class*="product-product-"] .header-mobile #headerMobile {

			padding-top: 55px;

		}

		[class*="product-product-"] .footer-mobile footer{

			display: none;

		}



		[class*="product-product-"] #product-product #button-cart {

			position: fixed;

			bottom: 0;

			left: 0;

			z-index: 222;

			border-radius: 0;

		}



		body[class*="checkout-cart"] {

			background: #f9f9f9;

		}



		[class*="checkout-cart"] #logo,

		[class*="checkout-checkout"] #logo,

		[class*="checkout-success"] #logo{

			display: block;

		}

		[class*="checkout-cart"] .header-mobile #headerMobile{

			padding-top:50px;

		}



		[class*="checkout-cart"]  .banner_pagamentos ul li.parcelamento {

			width: 100%;

		}



		.header-mobile #top,

		.footer-mobile footer{

			z-index: 22;

		}

		.header-desktop,

		.footer-desktop{

			display: none;

		}

		.header-mobile,

		.footer-mobile{

			display: block;

		}



		.header-mobile #logo img {

			max-width: 200px;

		}



		.header-mobile #top {

			background: #76ae99;

			position: fixed;

			width: 100%;

		}



		.header-mobile #headerMobile {

			padding-top: 75px;

		}



		.header-mobile #top .btn {

			padding: 7px 10px;

			border: 0;

			box-shadow: none;

			color: #FFF;

			-webkit-transition: all 0.5s ease-in-out;

			-moz-transition:all 0.5s ease-in-out;

			-o-transition:all 0.5s ease-in-out;

			transition:all 0.5s ease-in-out;

		}



		.header-mobile #top .btn:hover {

			color: #76ae99;

			background: #FFF;

		}



		.header-mobile #top .btn i {

			font-size: 26px;

		}



		.header-mobile #top #cart {

			margin: 0;

			padding:0 15px;

		}



		.header-mobile #top #cart > .btn {

			padding: 8px 0;

			background: none;

			border: 0;

			box-shadow: none;

			font-size: 14px;

			color:#FFF;

		}



		.header-mobile #top #cart > .btn i {

			font-size: 25px;

		}



		.header-mobile #top #search {

			margin: 0;

			background: #FFF;

			border: 1px solid rgba(0, 0, 0, 0.4);

			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

		}



		.header-mobile .box-search {

			background: #FFF;

			border: 3px solid #FFF;

			padding: 5px;

			border-radius: 12px 12px 0 0;

			margin: 0 0 5px 0;

		}



		.header-mobile .box-search #search {

			margin: 0;

			padding: 0;

			position: relative;

			right: 0;

			margin: 20px 0 10px;

			box-shadow: none;

			min-width: auto;

		}





		.header-mobile .menu-mobile {

			width: 100%;

			height:100%;

			display: none;

			position: fixed;

			z-index: 9999;

			left: -100%;

			top: 0;

			background: rgba(0, 0, 0, 0.45);

			transition: 4s;

			-webkit-transition: all 0.5s ease-in-out;

			-moz-transition:all 0.5s ease-in-out;

			-o-transition:all 0.5s ease-in-out;

			transition:all 0.5s ease-in-out;

		}



		.header-mobile .menu-mobile .btnCloseToggleMenu {

			position: absolute;

			right: 0;

			width: 50px;

			height: 100%;

			color: #FFF;

			text-align: center;

			-webkit-transition: all 0.5s ease-in-out;

			-moz-transition:all 0.5s ease-in-out;

			-o-transition:all 0.5s ease-in-out;

			transition:all 0.5s ease-in-out;

		}



		.header-mobile .menu-mobile .btnCloseToggleMenu:hover {

			color: #F2F2F2;

		}



		.header-mobile .menu-mobile .btnCloseToggleMenu i {

			font-size: 30px;

		}



		.header-mobile .menu-mobile nav#menu {

			background: #FFF;

			width: calc(100% - 50px);

			height: 100%;

			border-radius: 0;

			margin-top: 0;

		}



		.header-mobile .menu-mobile nav#menu ul.nav li {

			display: list-item;

			text-align: left;

		}



		.header-mobile .menu-mobile nav#menu ul.nav > li > a {

			color: #000;

			text-shadow: none;

			border-bottom: 1px solid #E9E9E9;

			font-size: 14px;

		}



		.header-mobile .menu-mobile nav#menu ul.nav > li > a:hover {

			color: #76ae99;

			background: rgba(0, 0, 0, 0.02);

		}



		.header-mobile .menu-mobile nav#menu ul.nav > li > a span.openMenu {

			float: right;

			text-align: right;

		}

		.header-mobile .menu-mobile nav#menu ul.nav > li.openSearch {

			display: none;

		}



		.header-mobile .menu-mobile nav#menu div.dropdown-menu{

			background: #f4f4f4;



		}

		.header-mobile .menu-mobile nav#menu div.dropdown-menu .dropdown-inner a{

			color: #707070;

			font-size: 14px;

			padding: 9px 20px;

		}

		.header-mobile .menu-mobile nav#menu div.dropdown-menu .dropdown-inner a:hover {

			background: #FFF;

		}

		.header-mobile .menu-mobile nav#menu div.dropdown-menu .see-all{

			color: #707070;

			font-size: 11px;

		}



		.header-mobile .menu-mobile.active {

			display: block;

			left: 0;

			-webkit-transition: all 0.5s ease-in-out;

			-moz-transition:all 0.5s ease-in-out;

			-o-transition:all 0.5s ease-in-out;

			transition:all 0.5s ease-in-out;

		}

		.header-mobile .menu-mobile.active nav#menu {

			overflow-y:auto;

		}



		#cart > .btn > span#cart-total{

			right: -20px;

			top: 3px;

			font-size: 12px;

		}

		#cart .dropdown-menu {

			right: auto;

			left: 0;

		}

		#top .dropdown-menu{

			left: auto;

		}

		#cart .dropdown-menu table{

			font-size:11px;

		}

		#cart .dropdown-menu > li > table {

			display: none;

		}

		#cart .dropdown-menu > li > div p a {

			display: block;

		}

		body.noScroll {

			overflow-y: hidden;

		}



		.mobile-top a.btn-user {

			margin:0;

			padding: 8px 15px;

			background: none;

			display: block;

			border: 0;

			box-shadow: none;

			font-size: 14px;

			color: #FFF;

		}



		.mobile-top a.btn-user i {

			font-size: 22px;

		}



		.checkout-checkout .mobile-top {

			display: none;

		}



		.checkout-checkout #headerMobile {

			padding: 0;

		}



		.checkout-checkout .breadcrumb {

			display: none;

		}



		.checkout-checkout #content > h1{

			border-top:0;

		}





		main.content_geral {

			padding-bottom: 60px;

			padding-top:8px;

		}



		.footer-mobile footer {

			padding: 0;

			box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);

			border-top: 1px solid #00000045;

			position: fixed;

			bottom: 0;

			left: 0;

			width: 100%;

			background: #76ae99;

		}



		.footer-mobile footer div {

			text-align: center;

		}



		.footer-mobile footer a {

			color: #FFF;

			display: block;

			padding: 10px 0;

		}



		.footer-mobile footer a:hover {

			background: #00000045;

			color: #FFF;

		}



		.footer-mobile footer div a i {

			font-size: 22px;

		}



		.footer-mobile a#cart-footer > #cart-total {

			position: absolute;

			width: 23px;

			height: 23px;

			line-height: 23px;

			font-weight: bold;

			background: #333;

			color: #FFF;

			border-radius: 100%;

		}



		/* page - product */

		#product-product .breadcrumb{

			display: none;

		}

		#product-product .owl-thumbs{

			display: none;

		}



		#product-product .owl-thumbs {

			display: none;

		}

		#product-product .owl-carousel .owl-item{

			padding: 0 50px;

		}

		h1.title, .heading-page h1, #content > h1 {

			font-size: 17px !important;

			text-align: center;

			margin: 0 !important;

			padding: 10px 0px;

			width: 100%;

		}



		#content > h1 + p {

			text-align: center;

		}



		#product-product .product-info {

			text-align: center;

		}



		h1.title:after, .heading-page h1:after, #content > h1:after {

			display: none;

		}



		#product-product h1 + .rating {

			text-align: left;

			border-bottom: 1px solid #E8E8E8;

		}



		#product-product .product-price {

			margin: 0;

			padding: 10px 0;

			text-align: center;

			border-top: 0;

			border-bottom: 0;

		}



		#product-product .product-options{

			text-align: center;

		}



		#product-product .product-options .form-group{

			margin:0 0 5px 0;

		}



		#product-product .product-price:after,#product-product .product-price:before {

			display: none;

		}



		#product-product .product-price span.price-new {

			font-size: 19px;

			letter-spacing: 0;

			margin: 0;

			color: #333;

		}



		#product-product .product-options .d-flex div .btn-wishlist{

			display: none;

		}

		#product-product .product-options .d-flex{

			margin:0;

		}



		.product-grid .product-thumb .caption {

			min-height: 150px;

		}



		#product-category .product-layout.product-grid:nth-child(2n){

			border-right: none;

		}



		.addthis_toolbox {

			display: none;

		}



		#product-product .rating{

			display: none;

		}



		.cart-resume ul li span {

			float: right;

		}



		#product-product .product-options .form-group.custom {

			padding: 10px 0;

			background: #F9F9F9;

			border: 1px solid #F2F2F2;

			border-radius: 5px;

		}



		.logo_menu_mobile {

			display: block;

			padding: 30px 20px;

		}

		.logo_menu_mobile img {

			max-width: 250px;

		}



		.column-list-categories{

			border-radius: 10px;

		}



	}

	@media screen and (max-width: 550px){

		/*.swiper-container img{

			height:180px;

		}*/

		.swiper-container .content h1{
			    font-size: 1.5rem;
		}
		.swiper-container .content .btn{
			    font-size: 20px;
			    padding: 5px 25px !important;
		}

	}