@font-face {

	font-family: 'Google Sans Regular';

	src: url('../fonts/googlesans-regular.TTF');

	font-weight: 300;

	font-style: normal;

}

@font-face {

	font-family: 'Google Sans Italic';

	src: url('../fonts/googlesans-italic.TTF');

	font-weight: 300;

	font-style: normal;

}

@font-face {

	font-family: 'Google Sans Bold';

	src: url('../fonts/googlesans-bold.TTF');

	font-weight: 300;

	font-style: normal;

}

@font-face {

	font-family: 'Google Sans Bold Italic';

	src: url('../fonts/googlesans-bolditalic.TTF');

	font-weight: 300;

	font-style: normal;

}

@font-face {

	font-family: 'Google Sans Medium';

	src: url('../fonts/googlesans-medium.TTF');

	font-weight: 300;

	font-style: normal;

}

@font-face {

	font-family: 'Google Sans Medium Italic';

	src: url('../fonts/googlesans-mediumitalic.TTF');

	font-weight: 300;

	font-style: normal;

}





html{

	font-size: 17px;

}

body{

	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	line-height: 1.7;

	color: #4d4d4d;

	font-weight: 300;

	font-size: 1rem;

}

p{

	font-weight: 400;

	font-size: 16px;

}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], .btn-primary:focus {

	color: #FFF !important;

	background: #76ae99;

	text-shadow: 0 1px 2px rgba(0,0,0,0.5);

	background-image: none;

	outline: 0;

	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);

	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);

}

.whatsapp-flutuante {

	position: fixed;

	bottom: 10px;

	right: 10px;

	width: 50px;

	height: 50px;

	line-height: 44px;

	text-align: center;

	z-index: 222;

	background: #3adb76;

	border: 2px solid #2bbf62;

	color: #FFF;

	border-radius: 100%;

	font-size: 19px;

	font-weight: bold;

}

.whatsapp-flutuante i {

	font-size: 18px;

}

.whatsapp-flutuante:hover{

	border: 2px solid #23b158;

	box-shadow: inset 0 0 15px #00000040;

	background: #3adb76;

	color: #FFF;

}



.row{

	margin-right: 0;

	margin-left: 0;

}

#content{

	padding-bottom:25px;

}

#common-home #content{

	padding-bottom: 0;

}

.header-desktop{

	margin-bottom: 0px;

	z-index: 1999;

	position: absolute;

	width: 100%;

	padding: 15px 0;

}

header#headerDesktop.fixed {

	height: 60px;

}



header#headerDesktop.fixed .header-wrap {

	position: fixed;

	z-index: 999;

	top: 0;

	left: 0;

	width: 100%;

	background-color: #FFF;

	box-shadow: 0 0 10px rgba(0,0,0,0.1);

}



header#headerDesktop.fixed .header-wrap .logoWhite {

	display: none;

}



header#headerDesktop.fixed .header-wrap .logoColor {

	display: block;

	width: 111px;

	margin: 11px 0;

}



header#headerDesktop.fixed .header-wrap nav#menu {

	padding: 10px 0;

	margin-top:0;

}

header#headerDesktop.fixed .header-wrap nav#menu .nav > li > a {

	color: #474747;

	padding: 10px 13px;

	border-radius: 5px;

}

header#headerDesktop.fixed .header-wrap nav#menu .nav > li:hover > a {

	background: #76ae99;

	color: #FFF;

}





header#headerDesktop.fixed .header-wrap #search{

	border: 4px solid transparent;

	top: 4px;

}



[class*="common-home"] #headerMobile.fixed{

	padding:0;

}

[class*="common-home"] #headerMobile.fixed .headerMobileWrap {

	position: fixed;

	z-index: 999;

	padding:10px 0;

	top: 0;

	left: 0;

	width: 100%;

	background-color: #FFF;

	box-shadow: 0 0 10px rgba(0,0,0,0.1);

}



[class*="common-home"] #headerMobile.fixed .headerMobileWrap #logo img {

	max-width: 150px;

}



footer{

	background-color: #76ae99;

	border-top: 0;

	color: #FFF;

	padding: 60px 0;

	margin-top: 0;

}



footer .bgsocial-midia {

	margin: 0;

	padding: 0;

}



footer hr {

	border-color: rgba(255, 255, 255, 0.1) !important;

	box-shadow: none;

}



footer h5 {

	font-family: inherit;

	font-size: 18px;

	font-weight: 500;

	color: #FFF;

	letter-spacing: 0;

	text-transform: none;

}



footer p{

	font-size: 16px;

}

footer .copyright{

	color:#FFF;

	font-size: 12px;

}

footer .copyright a{

	color:#FFF;

}

footer .links-footer li a {

	color: #F2F2F2;

	font-size: 15px;

	transition:all 0.3s ease;

}

footer .links-footer li a:hover {

	color:#FFF;

}



nav#menu{

	background: none;

	box-shadow: none;

	margin-top:45px;

}

nav#menu .nav > li > a {

	padding: 15px 15px;

	color: #4D4D4D;

	text-shadow: none;

	margin-left: -3px;

	text-transform: uppercase;

	letter-spacing: .1em;

	font-size: 14px;

	font-weight: 500;

	font-family: 'Montserrat', sans-serif;

}

nav#menu .nav > li:hover > a, nav#menu .nav > li > a:hover, nav#menu .nav > li.open > a {

	color: #76ae99;

	background: none;

	border:none;

}



body.common-home nav#menu .nav > li > a{

	color:#F2F2F2;

}

body.common-home nav#menu .nav > li:hover > a, body.common-home nav#menu .nav > li > a:hover, body.common-home nav#menu .nav > li.open > a {

	color: #FFF;

	background: none;

	border:none;

}



main.content_geral {

	padding-top: 150px;

}

body.common-home main.content_geral {

	padding-top: 0;

}



.logoWhite{

	display: none;

}

.logoColor{

	display: block;

}



body.common-home .logoWhite{

	display: block;

}

body.common-home .logoColor{

	display: none;

}

#search {

	margin: 0;

	border: 4px solid #76ae99;

	border-radius: 100px;

	background: #FFF;

	box-shadow: 0 0 5px #00000096;

	position: absolute;

	min-width: 550px;

	padding: 2px;

	top: 0;

	right: 60px;

}

#search input.form-control{

	width: calc(100% - 50px);

	display: inline-block;

}

#search button {

	display: inline-block;

	width: 40px;

	height: 40px;

	text-align: center;

	padding: 0 !important;

}



.form-control {

	display: block;

	width: 100%;

	padding: 5px;

	height: auto;

	font-family: 'Open sans', arial, tahoma;

	font-weight: bold;

	font-size: 1rem;

	line-height: 1.5;

	color: #495057;

	background: #eee;

	border: 1px solid transparent;

	border-radius: .25rem;

	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	box-shadow: none;

}



.select-quantity {

	width: 65px;

	display: inline-block;

	margin: 0px;

	top: 1px;

	padding: 5px;

	position: relative;

	font-family: 'Open sans', arial, tahoma;

	font-weight: bold;

}





@media (min-width: 768px){

	.navbar-nav {

		text-align: right;

	}

}



.swiper-viewport{

	overflow: hidden !important;

}

.swiper-container .content {

	position: absolute;

	top: 0;

	left: 0;

	z-index: 99;

	display: block;

	width: 100%;

	height: 100%;

	text-align: center;

}

.swiper-container .content h1 {

	color: #FFF;

	font-size: 2.8rem;

	line-height: 1.1;

	font-family: 'Google Sans Regular';

	margin-bottom:25px;

}

.swiper-container .content p {

	color: #FFF;

	font-size: 1.9rem;

	line-height: 1.1;

	font-weight: 500;

}

.swiper-container .content .btn {

	border: 2px solid transparent;

	font-size: 25px;

	font-weight: bold;

	transition:all 0.3s ease;

}

.swiper-container .content .btn:hover {

	color: #FFF !important;

	background: #76ae99;

	border-bottom: 2px solid rgba(0,0,0,0.5);

	text-shadow:0 1px 2px rgba(0,0,0,0.5);

	background-image: none;

	outline: 0;

	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);

	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);

}

.swiper-container .content .intro-text {

	font-size: 16px;

	line-height: 1.5;

}

.site-blocks-cover.overlay {

	position: relative;

}

.site-blocks-cover.overlay:before {

	position: absolute;

	content: "";

	left: 0;

	bottom: 0;

	right: 0;

	top: 0;

	background: rgba(0, 0, 0, .5);

	z-index: 9;

}

.site-blocks-cover.overlay .image{

	margin:0;

	z-index: 8;

}

.team-member {

	position: relative;

	float: left;

	width: 100%;

	overflow: hidden;

}

.team-member img {

	transition: 0.3s all ease;

	transform: scale(1);

}

.team-member:before {

	position: absolute;

	content: "";

	top: 0;

	left: 0;

	right: 0;

	bottom: 0;

	background: rgba(55, 173, 239, .8);

	z-index: 2;

	height: 100%;

	width: 100%;

	opacity: 0;

	visibility: hidden;

	transition: 0.3s all ease;

}

.team-member .text {

	top: 50%;

	text-align: center;

	position: absolute;

	padding: 20px;

	transform: translateY(-30%);

	transition: 0.5s all ease;

	opacity: 0;

	visibility: hidden;

	color: #fff;

}

.team-member:hover:before, .team-member:focus:before, .team-member:active:before {

	opacity: 1;

	visibility: visible;

}

.team-member:hover img, .team-member:focus img, .team-member:active img {

	transform: scale(1.1);

}

.team-member:hover .text, .team-member:focus .text, .team-member:active .text {

	transform: translateY(-50%);

	transition-delay: 0.2s;

	opacity: 1;

	visibility: visible;

	z-index: 4;

}

.podcast-entry {

	box-shadow: 0 5px 40px -10px rgba(0, 0, 0, .1);

}

.podcast-entry .sep {

	margin-left: 5px;

	margin-right: 5px;

	color: #ccc;

}

.podcast-entry .image {

	background-size: cover;

	background-position: center center;

	background-repeat: no-repeat;

	height: 300px;

}

.podcast-entry .text {

	width: 100%;

	padding: 40px;

}

.mejs__container {

	width: 100% !important;

}

.feature-blocks-1 {

	position: relative;

	margin-top: -70px;

	z-index: 2;

	color: #999;

}

.feature-blocks-1.no-margin-top {

	margin-top: 0px;

}

.feature-blocks-1 .feature-block-1 {

	position: relative;

	top: 0;

	transition: 0.3s all ease;

	overflow: hidden;

	z-index: 1;

}

.feature-blocks-1 .feature-block-1.bg {

	position: relative;

	background-size: cover;

	transform: scale(1);

	transition: 0.3s all ease-in-out;

}

.feature-blocks-1 .feature-block-1 .text {

	z-index: 10;

	position: relative;

	opacity: 0;

	visibility: hidden;

	transition: 0.3s all ease-in-out;

}

.feature-blocks-1 .feature-block-1:before {

	content: "";

	position: absolute;

	top: 0;

	z-index: 1;

	bottom: 0;

	left: 0;

	right: 0;

	background: rgba(0, 0, 0, 0);

	transition: 0.3s all ease-in-out;

}

.feature-blocks-1 .feature-block-1 p {

	color: #ccc;

}

.feature-blocks-1 .feature-block-1:hover, .feature-blocks-1 .feature-block-1:focus, .feature-blocks-1 .feature-block-1:active {

	top: -10px;

	box-shadow: 0 10px 40px -5px rgba(0, 0, 0, .4);

}

.feature-blocks-1 .feature-block-1:hover .text, .feature-blocks-1 .feature-block-1:focus .text, .feature-blocks-1 .feature-block-1:active .text {

	opacity: 1;

	visibility: visible;

}

.feature-blocks-1 .feature-block-1:hover.bg, .feature-blocks-1 .feature-block-1:focus.bg, .feature-blocks-1 .feature-block-1:active.bg {

	position: relative;

	background-size: cover;

	transform: scale(1.1);

	z-index: 2;

}

.feature-blocks-1 .feature-block-1:hover:before, .feature-blocks-1 .feature-block-1:focus:before, .feature-blocks-1 .feature-block-1:active:before {

	background: rgba(0, 0, 0, .9);

}

.site-blocks-vs .bg-image {

	padding-top: 3em;

	padding-bottom: 3em;

}

.site-blocks-vs .image {

	width: 80px;

	flex: 0 0 80px;

}

.site-blocks-vs .image img {

	border-radius: 50%;

}

.site-blocks-vs .image.image-small {

	width: 50px;

	flex: 0 0 50px;

}

.site-blocks-vs .country {

	color: rgba(255, 255, 255, .7);

}

.match-entry {

	position: relative;

	transition: 0.2s all ease-in-out;

	border-bottom: 1px solid rgba(0, 0, 0, .05);

}

.match-entry .small {

	color: #ccc;

	font-weight: normal;

	letter-spacing: 0.15em;

}

.match-entry:hover {

	transform: scale(1.05);

	z-index: 90;

	box-shadow: 0 5px 40px -5px rgba(0, 0, 0, .1);

}

.post-entry {

	position: relative;

	overflow: hidden;

	border: 1px solid #e6e6e6;

}

.post-entry, .post-entry .text {

	border-radius: 4px;

	border-top: none !important;

}

.post-entry .date {

	color: #ccc;

	font-weight: normal;

	letter-spacing: 0.1em;

}

.post-entry .image {

	overflow: hidden;

	position: relative;

}

.post-entry .image img {

	transition: 0.3s all ease;

	transform: scale(1);

}

.post-entry:hover .image img, .post-entry:active .image img, .post-entry:focus .image img {

	transform: scale(1.2);

}

.site-block-tab .nav-item {

	text-transform: uppercase;

	font-size: 0.8rem;

	margin: 0 20px;

}

.site-block-tab .nav-item:first-child {

	margin-left: 0 !important;

}

.site-block-tab .nav-item > a {

	padding-left: 0 !important;

	background: none !important;

	padding-right: 0 !important;

	border-bottom: 2px solid transparent;

	border-radius: 0 !important;

	font-weight: bold;

	color: #ccc;

}

.site-block-tab .nav-item > a:hover, .site-block-tab .nav-item > a.active {

	border-bottom: 2px solid #37adef;

	color: #000;

}

.block-13, .slide-one-item {

	position: relative;

	z-index: 1;

}

.block-13 .owl-nav, .slide-one-item .owl-nav {

	position: relative;

	position: absolute;

	bottom: -90px;

	left: 50%;

	transform: translateX(-50%);

}

.block-13 .owl-nav .owl-prev, .slide-one-item .owl-nav .owl-prev, .block-13 .owl-nav .owl-next, .slide-one-item .owl-nav .owl-next {

	position: relative;

	display: inline-block;

	padding: 20px;

	font-size: 30px;

	color: #000;

}

.block-13 .owl-nav .owl-prev.disabled, .slide-one-item .owl-nav .owl-prev.disabled, .block-13 .owl-nav .owl-next.disabled, .slide-one-item .owl-nav .owl-next.disabled {

	opacity: 0.2;

}

.slide-one-item.home-slider .owl-nav {

	position: absolute !important;

	top: 50% !important;

	bottom: auto !important;

	width: 100%;

}

.slide-one-item.home-slider .owl-prev {

	left: 10px !important;

}

.slide-one-item.home-slider .owl-next {

	right: 10px !important;

}

.slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {

	color: #fff;

	position: absolute !important;

	top: 50%;

	padding: 0px;

	height: 50px;

	width: 50px;

	border-radius: 50%;

	transform: translateY(-50%);

	background: rgba(0, 0, 0, .2);

	transition: 0.3s all ease-in-out;

	line-height: 0;

	text-align: center;

	font-size: 25px;

}

.slide-one-item.home-slider .owl-prev > span, .slide-one-item.home-slider .owl-next > span {

	position: absolute;

	line-height: 0;

	top: 50%;

	left: 50%;

	transform: translate(-50%, -50%);

}

.slide-one-item.home-slider .owl-prev:hover, .slide-one-item.home-slider .owl-next:hover, .slide-one-item.home-slider .owl-prev:focus, .slide-one-item.home-slider .owl-next:focus {

	background: rgba(0, 0, 0, 1);

}

.slide-one-item.home-slider:hover .owl-nav, .slide-one-item.home-slider:focus .owl-nav, .slide-one-item.home-slider:active .owl-nav {

	opacity: 10;

	visibility: visible;

}

.block-12 {

	position: relative;

}

.block-12 figure {

	position: relative;

}

.block-12 figure:before {

	content: '';

	position: absolute;

	top: 0;

	right: 0;

	bottom: 0;

	left: 0;

	background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);

	background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);

	background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000',GradientType=0);

}

.block-12 .text-overlay {

	position: absolute;

	bottom: 20px;

	left: 20px;

	right: 20px;

	z-index: 10;

}

.block-12 .text-overlay h2 {

	color: #fff;

}

.block-12 .text {

	position: relative;

	top: -100px;

}

.block-12 .text .meta {

	text-transform: uppercase;

	padding-left: 40px;

	color: #fff;

	display: block;

	margin-bottom: 20px;

}

.block-12 .text .text-inner {

	box-shadow: 0 0 20px -5px rgba(0, 0, 0, .3);

	background: #fff;

	padding: 10px;

	margin-right: 30px;

	position: relative;

}

.block-12 .text .text-inner:before {

	position: absolute;

	content: "";

	width: 80px;

	height: 4px;

	margin-top: -4px;

	background: #37adef;

	top: 0;

}

.block-12 .text .text-inner .heading {

	font-size: 20px;

	margin: 0;

	padding: 0;

}

.block-16 figure {

	position: relative;

}

.block-16 figure .play-button {

	position: absolute;

	top: 50%;

	left: 50%;

	transform: translate(-50%, -50%);

	font-size: 20px;

	width: 70px;

	height: 70px;

	background: #fff;

	display: block;

	border-radius: 50%;

	opacity: 1;

	color: #37adef !important;

}

.block-16 figure .play-button:hover {

	opacity: 1;

}

.block-16 figure .play-button > span {

	position: absolute;

	left: 55%;

	top: 50%;

	transform: translate(-60%, -50%);

}

.block-25 ul, .block-25 ul li {

	padding: 0;

	margin: 0;

}

.block-25 ul li a .image {

	flex: 0 0 90px;

}

.block-25 ul li a .image img {

	border-radius: 4px;

	max-width: 100%;

	opacity: 1;

	transition: 0.3s all ease-in-out;

}

.block-25 ul li a .text .heading {

	font-size: 18px;

	line-height: 1.5;

	margin: 0;

	padding: 0;

	transition: 0.3s all ease;

	color: #999;

}

.block-25 ul li a .meta {

	color: #37adef;

}

.block-25 ul li a:hover img {

	opacity: 0.5;

}

.block-25 ul li a:hover .text .heading {

	color: #fff;

}

#date-countdown .countdown-block {

	color: #b3b3b3;

}

#date-countdown .label {

	font-size: 40px;

	color: #000;

}

.next-match .image {

	width: 50px;

	border-radius: 50%;

}

.player {

	position: relative;

}

.player img {

	max-width: 100px;

	border-radius: 50%;

	margin-bottom: 20px;

}

.player .team-number {

	position: absolute;

	width: 30px;

	height: 30px;

	background: #37adef;

	border-radius: 50%;

	color: #fff;

}

.player .team-number > span {

	position: absolute;

	transform: translate(-50%, -50%);

	left: 50%;

	top: 50%;

}

.player h2 {

	font-size: 20px;

	letter-spacing: 0.2em;

	text-transform: uppercase;

}

.player .position {

	font-size: 14px;

	color: #b3b3b3;

	text-transform: uppercase;

}

.site-block-27 ul, .site-block-27 ul li {

	padding: 0;

	margin: 0;

}

.site-block-27 ul li {

	display: inline-block;

	margin-bottom: 4px;

}

.site-block-27 ul li a, .site-block-27 ul li span {

	text-align: center;

	display: inline-block;

	width: 40px;

	height: 40px;

	line-height: 40px;

	border-radius: 50%;

	border: 1px solid #ccc;

}

.site-block-27 ul li.active a, .site-block-27 ul li.active span {

	background: #37adef;

	color: #fff;

	border: 1px solid transparent;

}

.site-block-feature-7 .icon {

	transition: 0.2s all ease-in-out;

	position: relative;

	transform: scale(1);

}

.site-block-feature-7:hover .icon, .site-block-feature-7:focus .icon, .site-block-feature-7:active .icon {

	transform: scale(1.2);

}

.unit-1 {

	position: relative;

	width: 100%;

	overflow: hidden;

	display: block;

}

.unit-1:after {

	content: "";

	z-index: 1;

	position: absolute;

	bottom: 0;

	top: 0;

	left: 0;

	right: 0;

	background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);

	background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);

	background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000',GradientType=0);

}

.unit-1 img {

	object-fit: cover;

	transform: scale(1);

}

.unit-1 img, .unit-1 .unit-1-text {

	transition: 0.3s all ease-in-out;

}

.unit-1 .unit-1-text {

	z-index: 2;

	position: absolute;

	bottom: -90px;

	color: #fff;

	display: block;

	width: 100%;

}

.unit-1 .unit-1-text .unit-1-heading {

	font-size: 1.5rem;

	position: relative;

}

.unit-1 p {

	opacity: 0;

	visibility: hidden;

	transition: 0.3s all ease;

	color: rgba(255, 255, 255, .5);

}

.unit-1:hover p {

	opacity: 1;

	visibility: visible;

}

.unit-1:hover .unit-1-text {

	bottom: 30px;

}

.unit-1:hover img {

	transform: scale(1.05);

}

.overlap-section {

	margin-top: -150px;

	position: relative;

	z-index: 9;

}

.unit-4 .unit-4-icon span {

	line-height: 0;

	font-size: 3rem;

}

.unit-4 h3 {

	font-size: 20px;

}

.h-entry img {

	margin-bottom: 30px;

}

.h-entry .meta {

	color: #b3b3b3;

	font-size: 14px;

}

.h-entry h2 {

	font-size: 20px;

}

.overlap-left {

	margin-left: -100px;

}

.overlap-section {

	margin-top: -100px;

}

.feature-1 {

	background: #37adef;

	padding: 30px 50px;

	color: rgba(255, 255, 255, .6);

	font-size: 15px;

}

.feature-1 .heading {

	font-size: 22px;

	text-transform: uppercase;

	color: #fff;

}

.feature-1 .icon {

	border: 2px solid rgba(255, 255, 255, .5);

	width: 80px;

	height: 80px;

	line-height: 80px;

	position: relative;

	border-radius: 50%;

	margin: 0 auto !important;

}

.feature-1 .icon > span {

	font-size: 35px;

	color: #fff;

	position: absolute;

	top: 50%;

	left: 50%;

	transform: translate(-50%, -50%);

}

.free-quote {

	background: #1fa3ed;

}

.free-quote .form-control {

	border: 2px solid rgba(255, 255, 255, .5);

	background: none;

	color: #fff;

}

.free-quote .form-control:active, .free-quote .form-control:focus {

	border: 2px solid #fff;

}

.free-quote .form-control::-webkit-input-placeholder {

	/* Chrome/Opera/Safari */

	color: rgba(255, 255, 255, .4);

	font-size: 13px;

	font-style: italic;

}

.free-quote .form-control::-moz-placeholder {

	/* Firefox 19+ */

	color: rgba(255, 255, 255, .4);

	font-size: 13px;

	font-style: italic;

}

.free-quote .form-control:-ms-input-placeholder {

	/* IE 10+ */

	color: rgba(255, 255, 255, .4);

	font-size: 13px;

	font-style: italic;

}

.free-quote .form-control:-moz-placeholder {

	/* Firefox 18- */

	color: rgba(255, 255, 255, .4);

	font-size: 13px;

	font-style: italic;

}

.feature-3 {

	background: #169fec;

}

.border-primary {

	position: relative;

}

.border-primary h2 {

	text-transform: uppercase;

	font-weight: 700 !important;

	color:#37adef;

}

.border-primary:after {

	position: absolute;

	content: "";

	bottom: 0;

	width: 80px;

	height: 3px;

	background: #37adef;

}

.border-primary.text-center:after {

	left: 50%;

	transform: translateX(-50%);

}

.border-primary.text-left:after {

	transform: translateX(0%);

}

.testimonial {

	max-width: 800px;

	margin: 0 auto !important;

	text-align: center;

}

.testimonial blockquote {

	font-style: italic;

}

.testimonial blockquote p {

	font-size: 1.5rem;

}

.testimonial blockquote p.author {

	font-size: 1rem;

	font-style: normal;

}

.testimonial figure img {

	max-width: 100px;

	margin: 0 auto;

	border-radius: 50%;

}

.breadcrumb-custom {

	font-size: 1rem !important;

}

.text-muted {

	color: #ccc !important;

	font-size: 12px;

	text-transform: uppercase;

}

.how-it-work-item .number {

	width: 50px;

	height: 50px;

	border: 4px solid #fff;

	background: #37adef;

	color: #fff;

	line-height: 44px;

	font-weight: 300;

	display: inline-block;

	text-align: center;

	font-size: 20px;

	border-radius: 50%;

	margin-bottom: 40px;

}

.how-it-work-item h2 {

	font-size: 18px;

	margin-bottom: 30px;

	color: #fff;

}

.how-it-work-item p {

	color: rgba(255, 255, 255, 1);

}

.person h3 {

	font-size: 18px;

}

.ul-social-circle {

	list-style: none;

	padding: 0;

	margin: 0;

}

.ul-social-circle li {

	display: inline-block;

	margin-left: 5px;

	margin-bottom: 5px;

}

.ul-social-circle li:first-child {

	margin-left: 0;

}

.ul-social-circle li span {

	width: 30px;

	height: 30px;

	background: #777;

	font-size: 13px;

	text-align: center;

	line-height: 30px;

	border-radius: 50%;

	display: inline-block;

}

.ul-social-circle li a span {

	color: #fff;

	transition: 0.3s all ease;

}

.ul-social-circle li a:hover span {

	background: #2b2b2b;

	color: #fff;

}

.custom-pagination a, .custom-pagination span {

	width: 40px;

	height: 40px;

	line-height: 40px;

	border-radius: 50%;

	display: inline-block;

	background: #37adef;

	color: #fff;

}

.custom-pagination span {

	background: #e6e6e6;

	color: #000;

}

.sidebar-box {

	margin-bottom: 30px;

	padding: 25px;

	font-size: 15px;

	width: 100%;

	float: left;

	background: #fff;

}

.sidebar-box *:last-child {

	margin-bottom: 0;

}

.sidebar-box h3 {

	font-size: 18px;

	margin-bottom: 15px;

}

.categories li, .sidelink li {

	position: relative;

	margin-bottom: 10px;

	padding-bottom: 10px;

	border-bottom: 1px dotted gray('300');

	list-style: none;

}

.categories li:last-child, .sidelink li:last-child {

	margin-bottom: 0;

	border-bottom: none;

	padding-bottom: 0;

}

.categories li a, .sidelink li a {

	display: block;

}

.categories li a span, .sidelink li a span {

	position: absolute;

	right: 0;

	top: 0;

	color: #ccc;

}

.categories li.active a, .sidelink li.active a {

	color: #000;

	font-style: italic;

}

.comment-form-wrap {

	clear: both;

}

.comment-list {

	padding: 0;

	margin: 0;

}

.comment-list .children {

	padding: 50px 0 0 40px;

	margin: 0;

	float: left;

	width: 100%;

}

.comment-list li {

	padding: 0;

	margin: 0 0 30px 0;

	float: left;

	width: 100%;

	clear: both;

	list-style: none;

}

.comment-list li .vcard {

	width: 80px;

	float: left;

}

.comment-list li .vcard img {

	width: 50px;

	border-radius: 50%;

}

.comment-list li .comment-body {

	float: right;

	width: calc(100% - 80px);

}

.comment-list li .comment-body h3 {

	font-size: 20px;

	color: #000;

}

.comment-list li .comment-body .meta {

	text-transform: uppercase;

	font-size: 13px;

	letter-spacing: 0.1em;

	color: #ccc;

}

.comment-list li .comment-body .reply {

	padding: 5px 10px;

	background: #e6e6e6;

	color: #000;

	text-transform: uppercase;

	font-size: 14px;

}

.comment-list li .comment-body .reply:hover {

	color: #000;

	background: #e3e3e3;

}

.search-form {

	background: #f7f7f7;

	padding: 10px;

}

.search-form .form-group {

	position: relative;

}

.search-form .form-group input {

	padding-right: 50px;

}

.search-form .icon {

	position: absolute;

	top: 50%;

	right: 20px;

	transform: translateY(-50%);

}

.post-meta {

	font-size: 13px;

	text-transform: uppercase;

	letter-spacing: 0.2em;

}

.post-meta a {

	color: #fff;

	border-bottom: 1px solid rgba(255, 255, 255, .5);

}



#section-about p {

	font-weight: 400;

	font-size: 17px;

}



.information-information #content p {

	font-size: 18px;

}



@media (min-width: 768px){

	.site-section {

		padding: 5em 0;

	}

	#information-information .site-section{

		padding:0;

	}

	#section-about h3.title,

	#section-about .heading-page h3,

	#section-about #content > h3{

		text-align: left;

	}



	#section-about h3.title::after,

	#section-about h4.title::after,

	#section-about .heading-page h1::after,

	#section-about .heading-page h3::after,

	#section-about .heading-page h4::after,

	#section-about #content > h1::after,

	#section-about #content > h3::after,

	#section-about #content > h4::after{

		margin:15px 0;

	}



}



.menuAccordion li div.menucollapse{

	display: none;

}

.column-list-categories ul li.active div.menucollapse {

	display: block;

}



.column-list-categories {

	background: #4a7d6a;

	padding: 10px 10px 30px 10px;

	height: 100%;

	border-radius: 10px 10px 0 0;

}



.column-list-categories h2 {

	color: #FFF;

	font-size: 20px;

	font-family: 'Montserrat', sans-serif;

	text-transform: uppercase;

}



.column-list-categories ul {

	margin: 0;

	padding: 0;

	list-style: none;

}



.column-list-categories ul li {

	display: list-item;

}

.column-list-categories ul li a {

	padding: 5px 10px;

	font-size: 16px;

	color: #FFF;

	display: block;

	transition: all 0.2s ease;

}



.column-list-categories ul li > a {

	font-family: 'Montserrat';

	font-weight: 500;

	font-size: 14px;

	position: relative;

}



.column-list-categories ul li > a i.fa {

	background: #FFF;

	color: #000;

	border-radius: 5px;

	width: 15px;

	height: 15px;

	position: absolute;

	text-align: center;

	right: 0;

}



.column-list-categories ul li div{

	padding-left:10px;

}

.column-list-categories ul li div a {

	font-family: 'Montserrat';

	font-size: 13px;

}

.column-list-categories ul li div a.active,

.column-list-categories ul li div a:hover {

	padding-left:15px;

	font-weight: bold;

}





.product-layout, #product-category .product-layout.product-grid:nth-child(4n){

	border:0;

}





.logo_menu_mobile {

	display: none;

}





/*set a border on the images to prevent shifting*/

#product-product .box-image{

	text-align: center;

	margin-bottom: 35px;

}

#product-product .box-image .img-responsive{

	margin:0 auto;

}

#product-product #gallery_01{

	margin:10px 0 0;

}

#product-product #gallery_01 img {

	border: 2px solid transparent;

}

/*Change the colour*/

#product-product .active img {

	border: 2px solid #76ae99 !important;

}





































































/* Flex-box */



.align-baseline {

	vertical-align: baseline !important

}



.align-top {

	vertical-align: top !important

}



.align-middle {

	vertical-align: middle !important

}



.align-bottom {

	vertical-align: bottom !important

}



.align-text-bottom {

	vertical-align: text-bottom !important

}



.align-text-top {

	vertical-align: text-top !important

}





.flex-row {

	-webkit-box-orient: horizontal !important;

	-webkit-box-direction: normal !important;

	-ms-flex-direction: row !important;

	flex-direction: row !important

}



.flex-column {

	-webkit-box-orient: vertical !important;

	-webkit-box-direction: normal !important;

	-ms-flex-direction: column !important;

	flex-direction: column !important

}



.flex-row-reverse {

	-webkit-box-orient: horizontal !important;

	-webkit-box-direction: reverse !important;

	-ms-flex-direction: row-reverse !important;

	flex-direction: row-reverse !important

}



.flex-column-reverse {

	-webkit-box-orient: vertical !important;

	-webkit-box-direction: reverse !important;

	-ms-flex-direction: column-reverse !important;

	flex-direction: column-reverse !important

}



.flex-wrap {

	-ms-flex-wrap: wrap !important;

	flex-wrap: wrap !important

}



.flex-nowrap {

	-ms-flex-wrap: nowrap !important;

	flex-wrap: nowrap !important

}



.flex-wrap-reverse {

	-ms-flex-wrap: wrap-reverse !important;

	flex-wrap: wrap-reverse !important

}



.flex-fill {

	-webkit-box-flex: 1 !important;

	-ms-flex: 1 1 auto !important;

	flex: 1 1 auto !important

}



.flex-grow-0 {

	-webkit-box-flex: 0 !important;

	-ms-flex-positive: 0 !important;

	flex-grow: 0 !important

}



.flex-grow-1 {

	-webkit-box-flex: 1 !important;

	-ms-flex-positive: 1 !important;

	flex-grow: 1 !important

}



.flex-shrink-0 {

	-ms-flex-negative: 0 !important;

	flex-shrink: 0 !important

}



.flex-shrink-1 {

	-ms-flex-negative: 1 !important;

	flex-shrink: 1 !important

}



.justify-content-start {

	-webkit-box-pack: start !important;

	-ms-flex-pack: start !important;

	justify-content: flex-start !important

}



.justify-content-end {

	-webkit-box-pack: end !important;

	-ms-flex-pack: end !important;

	justify-content: flex-end !important

}



.justify-content-center {

	-webkit-box-pack: center !important;

	-ms-flex-pack: center !important;

	justify-content: center !important

}



.justify-content-between {

	-webkit-box-pack: justify !important;

	-ms-flex-pack: justify !important;

	justify-content: space-between !important

}



.justify-content-around {

	-ms-flex-pack: distribute !important;

	justify-content: space-around !important

}



.align-items-start {

	-webkit-box-align: start !important;

	-ms-flex-align: start !important;

	align-items: flex-start !important

}



.align-items-end {

	-webkit-box-align: end !important;

	-ms-flex-align: end !important;

	align-items: flex-end !important

}



.align-items-center {

	-webkit-box-align: center !important;

	-ms-flex-align: center !important;

	align-items: center !important

}



.align-items-baseline {

	-webkit-box-align: baseline !important;

	-ms-flex-align: baseline !important;

	align-items: baseline !important

}



.align-items-stretch {

	-webkit-box-align: stretch !important;

	-ms-flex-align: stretch !important;

	align-items: stretch !important

}



.align-content-start {

	-ms-flex-line-pack: start !important;

	align-content: flex-start !important

}



.align-content-end {

	-ms-flex-line-pack: end !important;

	align-content: flex-end !important

}



.align-content-center {

	-ms-flex-line-pack: center !important;

	align-content: center !important

}



.align-content-between {

	-ms-flex-line-pack: justify !important;

	align-content: space-between !important

}



.align-content-around {

	-ms-flex-line-pack: distribute !important;

	align-content: space-around !important

}



.align-content-stretch {

	-ms-flex-line-pack: stretch !important;

	align-content: stretch !important

}



.align-self-auto {

	-ms-flex-item-align: auto !important;

	-ms-grid-row-align: auto !important;

	align-self: auto !important

}



.align-self-start {

	-ms-flex-item-align: start !important;

	align-self: flex-start !important

}



.align-self-end {

	-ms-flex-item-align: end !important;

	align-self: flex-end !important

}



.align-self-center {

	-ms-flex-item-align: center !important;

	-ms-grid-row-align: center !important;

	align-self: center !important

}



.align-self-baseline {

	-ms-flex-item-align: baseline !important;

	align-self: baseline !important

}



.align-self-stretch {

	-ms-flex-item-align: stretch !important;

	-ms-grid-row-align: stretch !important;

	align-self: stretch !important

}



@media (min-width:576px) {

	.flex-sm-row {

		-webkit-box-orient: horizontal !important;

		-webkit-box-direction: normal !important;

		-ms-flex-direction: row !important;

		flex-direction: row !important

	}

	.flex-sm-column {

		-webkit-box-orient: vertical !important;

		-webkit-box-direction: normal !important;

		-ms-flex-direction: column !important;

		flex-direction: column !important

	}

	.flex-sm-row-reverse {

		-webkit-box-orient: horizontal !important;

		-webkit-box-direction: reverse !important;

		-ms-flex-direction: row-reverse !important;

		flex-direction: row-reverse !important

	}

	.flex-sm-column-reverse {

		-webkit-box-orient: vertical !important;

		-webkit-box-direction: reverse !important;

		-ms-flex-direction: column-reverse !important;

		flex-direction: column-reverse !important

	}

	.flex-sm-wrap {

		-ms-flex-wrap: wrap !important;

		flex-wrap: wrap !important

	}

	.flex-sm-nowrap {

		-ms-flex-wrap: nowrap !important;

		flex-wrap: nowrap !important

	}

	.flex-sm-wrap-reverse {

		-ms-flex-wrap: wrap-reverse !important;

		flex-wrap: wrap-reverse !important

	}

	.flex-sm-fill {

		-webkit-box-flex: 1 !important;

		-ms-flex: 1 1 auto !important;

		flex: 1 1 auto !important

	}

	.flex-sm-grow-0 {

		-webkit-box-flex: 0 !important;

		-ms-flex-positive: 0 !important;

		flex-grow: 0 !important

	}

	.flex-sm-grow-1 {

		-webkit-box-flex: 1 !important;

		-ms-flex-positive: 1 !important;

		flex-grow: 1 !important

	}

	.flex-sm-shrink-0 {

		-ms-flex-negative: 0 !important;

		flex-shrink: 0 !important

	}

	.flex-sm-shrink-1 {

		-ms-flex-negative: 1 !important;

		flex-shrink: 1 !important

	}

	.justify-content-sm-start {

		-webkit-box-pack: start !important;

		-ms-flex-pack: start !important;

		justify-content: flex-start !important

	}

	.justify-content-sm-end {

		-webkit-box-pack: end !important;

		-ms-flex-pack: end !important;

		justify-content: flex-end !important

	}

	.justify-content-sm-center {

		-webkit-box-pack: center !important;

		-ms-flex-pack: center !important;

		justify-content: center !important

	}

	.justify-content-sm-between {

		-webkit-box-pack: justify !important;

		-ms-flex-pack: justify !important;

		justify-content: space-between !important

	}

	.justify-content-sm-around {

		-ms-flex-pack: distribute !important;

		justify-content: space-around !important

	}

	.align-items-sm-start {

		-webkit-box-align: start !important;

		-ms-flex-align: start !important;

		align-items: flex-start !important

	}

	.align-items-sm-end {

		-webkit-box-align: end !important;

		-ms-flex-align: end !important;

		align-items: flex-end !important

	}

	.align-items-sm-center {

		-webkit-box-align: center !important;

		-ms-flex-align: center !important;

		align-items: center !important

	}

	.align-items-sm-baseline {

		-webkit-box-align: baseline !important;

		-ms-flex-align: baseline !important;

		align-items: baseline !important

	}

	.align-items-sm-stretch {

		-webkit-box-align: stretch !important;

		-ms-flex-align: stretch !important;

		align-items: stretch !important

	}

	.align-content-sm-start {

		-ms-flex-line-pack: start !important;

		align-content: flex-start !important

	}

	.align-content-sm-end {

		-ms-flex-line-pack: end !important;

		align-content: flex-end !important

	}

	.align-content-sm-center {

		-ms-flex-line-pack: center !important;

		align-content: center !important

	}

	.align-content-sm-between {

		-ms-flex-line-pack: justify !important;

		align-content: space-between !important

	}

	.align-content-sm-around {

		-ms-flex-line-pack: distribute !important;

		align-content: space-around !important

	}

	.align-content-sm-stretch {

		-ms-flex-line-pack: stretch !important;

		align-content: stretch !important

	}

	.align-self-sm-auto {

		-ms-flex-item-align: auto !important;

		-ms-grid-row-align: auto !important;

		align-self: auto !important

	}

	.align-self-sm-start {

		-ms-flex-item-align: start !important;

		align-self: flex-start !important

	}

	.align-self-sm-end {

		-ms-flex-item-align: end !important;

		align-self: flex-end !important

	}

	.align-self-sm-center {

		-ms-flex-item-align: center !important;

		-ms-grid-row-align: center !important;

		align-self: center !important

	}

	.align-self-sm-baseline {

		-ms-flex-item-align: baseline !important;

		align-self: baseline !important

	}

	.align-self-sm-stretch {

		-ms-flex-item-align: stretch !important;

		-ms-grid-row-align: stretch !important;

		align-self: stretch !important

	}

}



@media (min-width:768px) {

	.flex-md-row {

		-webkit-box-orient: horizontal !important;

		-webkit-box-direction: normal !important;

		-ms-flex-direction: row !important;

		flex-direction: row !important

	}

	.flex-md-column {

		-webkit-box-orient: vertical !important;

		-webkit-box-direction: normal !important;

		-ms-flex-direction: column !important;

		flex-direction: column !important

	}

	.flex-md-row-reverse {

		-webkit-box-orient: horizontal !important;

		-webkit-box-direction: reverse !important;

		-ms-flex-direction: row-reverse !important;

		flex-direction: row-reverse !important

	}

	.flex-md-column-reverse {

		-webkit-box-orient: vertical !important;

		-webkit-box-direction: reverse !important;

		-ms-flex-direction: column-reverse !important;

		flex-direction: column-reverse !important

	}

	.flex-md-wrap {

		-ms-flex-wrap: wrap !important;

		flex-wrap: wrap !important

	}

	.flex-md-nowrap {

		-ms-flex-wrap: nowrap !important;

		flex-wrap: nowrap !important

	}

	.flex-md-wrap-reverse {

		-ms-flex-wrap: wrap-reverse !important;

		flex-wrap: wrap-reverse !important

	}

	.flex-md-fill {

		-webkit-box-flex: 1 !important;

		-ms-flex: 1 1 auto !important;

		flex: 1 1 auto !important

	}

	.flex-md-grow-0 {

		-webkit-box-flex: 0 !important;

		-ms-flex-positive: 0 !important;

		flex-grow: 0 !important

	}

	.flex-md-grow-1 {

		-webkit-box-flex: 1 !important;

		-ms-flex-positive: 1 !important;

		flex-grow: 1 !important

	}

	.flex-md-shrink-0 {

		-ms-flex-negative: 0 !important;

		flex-shrink: 0 !important

	}

	.flex-md-shrink-1 {

		-ms-flex-negative: 1 !important;

		flex-shrink: 1 !important

	}

	.justify-content-md-start {

		-webkit-box-pack: start !important;

		-ms-flex-pack: start !important;

		justify-content: flex-start !important

	}

	.justify-content-md-end {

		-webkit-box-pack: end !important;

		-ms-flex-pack: end !important;

		justify-content: flex-end !important

	}

	.justify-content-md-center {

		-webkit-box-pack: center !important;

		-ms-flex-pack: center !important;

		justify-content: center !important

	}

	.justify-content-md-between {

		-webkit-box-pack: justify !important;

		-ms-flex-pack: justify !important;

		justify-content: space-between !important

	}

	.justify-content-md-around {

		-ms-flex-pack: distribute !important;

		justify-content: space-around !important

	}

	.align-items-md-start {

		-webkit-box-align: start !important;

		-ms-flex-align: start !important;

		align-items: flex-start !important

	}

	.align-items-md-end {

		-webkit-box-align: end !important;

		-ms-flex-align: end !important;

		align-items: flex-end !important

	}

	.align-items-md-center {

		-webkit-box-align: center !important;

		-ms-flex-align: center !important;

		align-items: center !important

	}

	.align-items-md-baseline {

		-webkit-box-align: baseline !important;

		-ms-flex-align: baseline !important;

		align-items: baseline !important

	}

	.align-items-md-stretch {

		-webkit-box-align: stretch !important;

		-ms-flex-align: stretch !important;

		align-items: stretch !important

	}

	.align-content-md-start {

		-ms-flex-line-pack: start !important;

		align-content: flex-start !important

	}

	.align-content-md-end {

		-ms-flex-line-pack: end !important;

		align-content: flex-end !important

	}

	.align-content-md-center {

		-ms-flex-line-pack: center !important;

		align-content: center !important

	}

	.align-content-md-between {

		-ms-flex-line-pack: justify !important;

		align-content: space-between !important

	}

	.align-content-md-around {

		-ms-flex-line-pack: distribute !important;

		align-content: space-around !important

	}

	.align-content-md-stretch {

		-ms-flex-line-pack: stretch !important;

		align-content: stretch !important

	}

	.align-self-md-auto {

		-ms-flex-item-align: auto !important;

		-ms-grid-row-align: auto !important;

		align-self: auto !important

	}

	.align-self-md-start {

		-ms-flex-item-align: start !important;

		align-self: flex-start !important

	}

	.align-self-md-end {

		-ms-flex-item-align: end !important;

		align-self: flex-end !important

	}

	.align-self-md-center {

		-ms-flex-item-align: center !important;

		-ms-grid-row-align: center !important;

		align-self: center !important

	}

	.align-self-md-baseline {

		-ms-flex-item-align: baseline !important;

		align-self: baseline !important

	}

	.align-self-md-stretch {

		-ms-flex-item-align: stretch !important;

		-ms-grid-row-align: stretch !important;

		align-self: stretch !important

	}

}



@media (min-width:992px) {

	.flex-lg-row {

		-webkit-box-orient: horizontal !important;

		-webkit-box-direction: normal !important;

		-ms-flex-direction: row !important;

		flex-direction: row !important

	}

	.flex-lg-column {

		-webkit-box-orient: vertical !important;

		-webkit-box-direction: normal !important;

		-ms-flex-direction: column !important;

		flex-direction: column !important

	}

	.flex-lg-row-reverse {

		-webkit-box-orient: horizontal !important;

		-webkit-box-direction: reverse !important;

		-ms-flex-direction: row-reverse !important;

		flex-direction: row-reverse !important

	}

	.flex-lg-column-reverse {

		-webkit-box-orient: vertical !important;

		-webkit-box-direction: reverse !important;

		-ms-flex-direction: column-reverse !important;

		flex-direction: column-reverse !important

	}

	.flex-lg-wrap {

		-ms-flex-wrap: wrap !important;

		flex-wrap: wrap !important

	}

	.flex-lg-nowrap {

		-ms-flex-wrap: nowrap !important;

		flex-wrap: nowrap !important

	}

	.flex-lg-wrap-reverse {

		-ms-flex-wrap: wrap-reverse !important;

		flex-wrap: wrap-reverse !important

	}

	.flex-lg-fill {

		-webkit-box-flex: 1 !important;

		-ms-flex: 1 1 auto !important;

		flex: 1 1 auto !important

	}

	.flex-lg-grow-0 {

		-webkit-box-flex: 0 !important;

		-ms-flex-positive: 0 !important;

		flex-grow: 0 !important

	}

	.flex-lg-grow-1 {

		-webkit-box-flex: 1 !important;

		-ms-flex-positive: 1 !important;

		flex-grow: 1 !important

	}

	.flex-lg-shrink-0 {

		-ms-flex-negative: 0 !important;

		flex-shrink: 0 !important

	}

	.flex-lg-shrink-1 {

		-ms-flex-negative: 1 !important;

		flex-shrink: 1 !important

	}

	.justify-content-lg-start {

		-webkit-box-pack: start !important;

		-ms-flex-pack: start !important;

		justify-content: flex-start !important

	}

	.justify-content-lg-end {

		-webkit-box-pack: end !important;

		-ms-flex-pack: end !important;

		justify-content: flex-end !important

	}

	.justify-content-lg-center {

		-webkit-box-pack: center !important;

		-ms-flex-pack: center !important;

		justify-content: center !important

	}

	.justify-content-lg-between {

		-webkit-box-pack: justify !important;

		-ms-flex-pack: justify !important;

		justify-content: space-between !important

	}

	.justify-content-lg-around {

		-ms-flex-pack: distribute !important;

		justify-content: space-around !important

	}

	.align-items-lg-start {

		-webkit-box-align: start !important;

		-ms-flex-align: start !important;

		align-items: flex-start !important

	}

	.align-items-lg-end {

		-webkit-box-align: end !important;

		-ms-flex-align: end !important;

		align-items: flex-end !important

	}

	.align-items-lg-center {

		-webkit-box-align: center !important;

		-ms-flex-align: center !important;

		align-items: center !important

	}

	.align-items-lg-baseline {

		-webkit-box-align: baseline !important;

		-ms-flex-align: baseline !important;

		align-items: baseline !important

	}

	.align-items-lg-stretch {

		-webkit-box-align: stretch !important;

		-ms-flex-align: stretch !important;

		align-items: stretch !important

	}

	.align-content-lg-start {

		-ms-flex-line-pack: start !important;

		align-content: flex-start !important

	}

	.align-content-lg-end {

		-ms-flex-line-pack: end !important;

		align-content: flex-end !important

	}

	.align-content-lg-center {

		-ms-flex-line-pack: center !important;

		align-content: center !important

	}

	.align-content-lg-between {

		-ms-flex-line-pack: justify !important;

		align-content: space-between !important

	}

	.align-content-lg-around {

		-ms-flex-line-pack: distribute !important;

		align-content: space-around !important

	}

	.align-content-lg-stretch {

		-ms-flex-line-pack: stretch !important;

		align-content: stretch !important

	}

	.align-self-lg-auto {

		-ms-flex-item-align: auto !important;

		-ms-grid-row-align: auto !important;

		align-self: auto !important

	}

	.align-self-lg-start {

		-ms-flex-item-align: start !important;

		align-self: flex-start !important

	}

	.align-self-lg-end {

		-ms-flex-item-align: end !important;

		align-self: flex-end !important

	}

	.align-self-lg-center {

		-ms-flex-item-align: center !important;

		-ms-grid-row-align: center !important;

		align-self: center !important

	}

	.align-self-lg-baseline {

		-ms-flex-item-align: baseline !important;

		align-self: baseline !important

	}

	.align-self-lg-stretch {

		-ms-flex-item-align: stretch !important;

		-ms-grid-row-align: stretch !important;

		align-self: stretch !important

	}

}



@media (min-width:1200px) {

	.flex-xl-row {

		-webkit-box-orient: horizontal !important;

		-webkit-box-direction: normal !important;

		-ms-flex-direction: row !important;

		flex-direction: row !important

	}

	.flex-xl-column {

		-webkit-box-orient: vertical !important;

		-webkit-box-direction: normal !important;

		-ms-flex-direction: column !important;

		flex-direction: column !important

	}

	.flex-xl-row-reverse {

		-webkit-box-orient: horizontal !important;

		-webkit-box-direction: reverse !important;

		-ms-flex-direction: row-reverse !important;

		flex-direction: row-reverse !important

	}

	.flex-xl-column-reverse {

		-webkit-box-orient: vertical !important;

		-webkit-box-direction: reverse !important;

		-ms-flex-direction: column-reverse !important;

		flex-direction: column-reverse !important

	}

	.flex-xl-wrap {

		-ms-flex-wrap: wrap !important;

		flex-wrap: wrap !important

	}

	.flex-xl-nowrap {

		-ms-flex-wrap: nowrap !important;

		flex-wrap: nowrap !important

	}

	.flex-xl-wrap-reverse {

		-ms-flex-wrap: wrap-reverse !important;

		flex-wrap: wrap-reverse !important

	}

	.flex-xl-fill {

		-webkit-box-flex: 1 !important;

		-ms-flex: 1 1 auto !important;

		flex: 1 1 auto !important

	}

	.flex-xl-grow-0 {

		-webkit-box-flex: 0 !important;

		-ms-flex-positive: 0 !important;

		flex-grow: 0 !important

	}

	.flex-xl-grow-1 {

		-webkit-box-flex: 1 !important;

		-ms-flex-positive: 1 !important;

		flex-grow: 1 !important

	}

	.flex-xl-shrink-0 {

		-ms-flex-negative: 0 !important;

		flex-shrink: 0 !important

	}

	.flex-xl-shrink-1 {

		-ms-flex-negative: 1 !important;

		flex-shrink: 1 !important

	}

	.justify-content-xl-start {

		-webkit-box-pack: start !important;

		-ms-flex-pack: start !important;

		justify-content: flex-start !important

	}

	.justify-content-xl-end {

		-webkit-box-pack: end !important;

		-ms-flex-pack: end !important;

		justify-content: flex-end !important

	}

	.justify-content-xl-center {

		-webkit-box-pack: center !important;

		-ms-flex-pack: center !important;

		justify-content: center !important

	}

	.justify-content-xl-between {

		-webkit-box-pack: justify !important;

		-ms-flex-pack: justify !important;

		justify-content: space-between !important

	}

	.justify-content-xl-around {

		-ms-flex-pack: distribute !important;

		justify-content: space-around !important

	}

	.align-items-xl-start {

		-webkit-box-align: start !important;

		-ms-flex-align: start !important;

		align-items: flex-start !important

	}

	.align-items-xl-end {

		-webkit-box-align: end !important;

		-ms-flex-align: end !important;

		align-items: flex-end !important

	}

	.align-items-xl-center {

		-webkit-box-align: center !important;

		-ms-flex-align: center !important;

		align-items: center !important

	}

	.align-items-xl-baseline {

		-webkit-box-align: baseline !important;

		-ms-flex-align: baseline !important;

		align-items: baseline !important

	}

	.align-items-xl-stretch {

		-webkit-box-align: stretch !important;

		-ms-flex-align: stretch !important;

		align-items: stretch !important

	}

	.align-content-xl-start {

		-ms-flex-line-pack: start !important;

		align-content: flex-start !important

	}

	.align-content-xl-end {

		-ms-flex-line-pack: end !important;

		align-content: flex-end !important

	}

	.align-content-xl-center {

		-ms-flex-line-pack: center !important;

		align-content: center !important

	}

	.align-content-xl-between {

		-ms-flex-line-pack: justify !important;

		align-content: space-between !important

	}

	.align-content-xl-around {

		-ms-flex-line-pack: distribute !important;

		align-content: space-around !important

	}

	.align-content-xl-stretch {

		-ms-flex-line-pack: stretch !important;

		align-content: stretch !important

	}

	.align-self-xl-auto {

		-ms-flex-item-align: auto !important;

		-ms-grid-row-align: auto !important;

		align-self: auto !important

	}

	.align-self-xl-start {

		-ms-flex-item-align: start !important;

		align-self: flex-start !important

	}

	.align-self-xl-end {

		-ms-flex-item-align: end !important;

		align-self: flex-end !important

	}

	.align-self-xl-center {

		-ms-flex-item-align: center !important;

		-ms-grid-row-align: center !important;

		align-self: center !important

	}

	.align-self-xl-baseline {

		-ms-flex-item-align: baseline !important;

		align-self: baseline !important

	}

	.align-self-xl-stretch {

		-ms-flex-item-align: stretch !important;

		-ms-grid-row-align: stretch !important;

		align-self: stretch !important

	}

}



/* Order */



.order-first {

	-webkit-box-ordinal-group: 0;

	-ms-flex-order: -1;

	order: -1

}



.order-last {

	-webkit-box-ordinal-group: 14;

	-ms-flex-order: 13;

	order: 13

}



.order-0 {

	-webkit-box-ordinal-group: 1;

	-ms-flex-order: 0;

	order: 0

}



.order-1 {

	-webkit-box-ordinal-group: 2;

	-ms-flex-order: 1;

	order: 1

}



.order-2 {

	-webkit-box-ordinal-group: 3;

	-ms-flex-order: 2;

	order: 2

}



.order-3 {

	-webkit-box-ordinal-group: 4;

	-ms-flex-order: 3;

	order: 3

}



.order-4 {

	-webkit-box-ordinal-group: 5;

	-ms-flex-order: 4;

	order: 4

}



.order-5 {

	-webkit-box-ordinal-group: 6;

	-ms-flex-order: 5;

	order: 5

}



.order-6 {

	-webkit-box-ordinal-group: 7;

	-ms-flex-order: 6;

	order: 6

}



.order-7 {

	-webkit-box-ordinal-group: 8;

	-ms-flex-order: 7;

	order: 7

}



.order-8 {

	-webkit-box-ordinal-group: 9;

	-ms-flex-order: 8;

	order: 8

}



.order-9 {

	-webkit-box-ordinal-group: 10;

	-ms-flex-order: 9;

	order: 9

}



.order-10 {

	-webkit-box-ordinal-group: 11;

	-ms-flex-order: 10;

	order: 10

}



.order-11 {

	-webkit-box-ordinal-group: 12;

	-ms-flex-order: 11;

	order: 11

}



.order-12 {

	-webkit-box-ordinal-group: 13;

	-ms-flex-order: 12;

	order: 12

}







.order-sm-first {

	-webkit-box-ordinal-group: 0;

	-ms-flex-order: -1;

	order: -1

}



.order-sm-last {

	-webkit-box-ordinal-group: 14;

	-ms-flex-order: 13;

	order: 13

}



.order-sm-0 {

	-webkit-box-ordinal-group: 1;

	-ms-flex-order: 0;

	order: 0

}



.order-sm-1 {

	-webkit-box-ordinal-group: 2;

	-ms-flex-order: 1;

	order: 1

}



.order-sm-2 {

	-webkit-box-ordinal-group: 3;

	-ms-flex-order: 2;

	order: 2

}



.order-sm-3 {

	-webkit-box-ordinal-group: 4;

	-ms-flex-order: 3;

	order: 3

}



.order-sm-4 {

	-webkit-box-ordinal-group: 5;

	-ms-flex-order: 4;

	order: 4

}



.order-sm-5 {

	-webkit-box-ordinal-group: 6;

	-ms-flex-order: 5;

	order: 5

}



.order-sm-6 {

	-webkit-box-ordinal-group: 7;

	-ms-flex-order: 6;

	order: 6

}



.order-sm-7 {

	-webkit-box-ordinal-group: 8;

	-ms-flex-order: 7;

	order: 7

}



.order-sm-8 {

	-webkit-box-ordinal-group: 9;

	-ms-flex-order: 8;

	order: 8

}



.order-sm-9 {

	-webkit-box-ordinal-group: 10;

	-ms-flex-order: 9;

	order: 9

}



.order-sm-10 {

	-webkit-box-ordinal-group: 11;

	-ms-flex-order: 10;

	order: 10

}



.order-sm-11 {

	-webkit-box-ordinal-group: 12;

	-ms-flex-order: 11;

	order: 11

}



.order-sm-12 {

	-webkit-box-ordinal-group: 13;

	-ms-flex-order: 12;

	order: 12

}



.order-xs-first {

	-webkit-box-ordinal-group: 0;

	-ms-flex-order: -1;

	order: -1

}



.order-xs-last {

	-webkit-box-ordinal-group: 14;

	-ms-flex-order: 13;

	order: 13

}



.order-xs-0 {

	-webkit-box-ordinal-group: 1;

	-ms-flex-order: 0;

	order: 0

}



.order-xs-1 {

	-webkit-box-ordinal-group: 2;

	-ms-flex-order: 1;

	order: 1

}



.order-xs-2 {

	-webkit-box-ordinal-group: 3;

	-ms-flex-order: 2;

	order: 2

}



.order-xs-3 {

	-webkit-box-ordinal-group: 4;

	-ms-flex-order: 3;

	order: 3

}



.order-xs-4 {

	-webkit-box-ordinal-group: 5;

	-ms-flex-order: 4;

	order: 4

}



.order-xs-5 {

	-webkit-box-ordinal-group: 6;

	-ms-flex-order: 5;

	order: 5

}



.order-xs-6 {

	-webkit-box-ordinal-group: 7;

	-ms-flex-order: 6;

	order: 6

}



.order-xs-7 {

	-webkit-box-ordinal-group: 8;

	-ms-flex-order: 7;

	order: 7

}



.order-xs-8 {

	-webkit-box-ordinal-group: 9;

	-ms-flex-order: 8;

	order: 8

}



.order-xs-9 {

	-webkit-box-ordinal-group: 10;

	-ms-flex-order: 9;

	order: 9

}



.order-xs-10 {

	-webkit-box-ordinal-group: 11;

	-ms-flex-order: 10;

	order: 10

}



.order-xs-11 {

	-webkit-box-ordinal-group: 12;

	-ms-flex-order: 11;

	order: 11

}



.order-xs-12 {

	-webkit-box-ordinal-group: 13;

	-ms-flex-order: 12;

	order: 12

}