{{ header }}
<div id="checkout-cart" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row">
        <div class="col-xs-12 col-md-9">
          <div class="heading-page">
            <h1>{{ heading_title }}</h1>
            {% if weight %}<span class="badge badge-primary">({{ weight }})</span>{% endif %}
          </div>

          {% if cart_order_total < order_minimum %}
          <div class="alert alert-warning alert-dismissible">
            <i class="fa fa-exclamation-circle"></i> 
            Seu carrinho não possuí o valor mínimo de R$ {{ order_minimum }}. <br> Adicione mais itens em seu carrinho.
            <button type="button" class="close" data-dismiss="alert">&times;</button></div>
            {% endif %}

            <form action="{{ action }}" method="post" enctype="multipart/form-data">

              <div class="cart-new">

                {% for product in products %}
                <div class="item d-flex align-items-center">
                  <div class="col-xs-1 col-md-1"><b>{{ product.quantity }}x</b></div>
                  {% if product.thumb %}
                  <div class="col-md-1">
                   <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a>
                 </div>
                 {% endif %}
                 <div class="col-xs-6 col-md-7"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                  {% if product.option %}
                  {% for option in product.option %} <br />
                  <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                  {% endif %}
                  {% if product.reward %} <br />
                  <small>{{ product.reward }}</small> {% endif %}
                  {% if product.recurring %} <br />
                  <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</div>
                  <div class="col-xs-3 col-md-2"><b>{{ product.total }}</b></div>
                  <div class="col-xs-1 col-md-1">
                    <div class="dropdown">
                      <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="javascript:;" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i> Remover do carrinho</a></li>
                        <li>
                         <div class="box-add-quantity box-qta-cart btn-group d-flex justify-content-center align-items-center">
                          <div class="mr-3">
                            Qta:
                          </div>
                          <div class="flew-grow-1 mr-2">
                            <input type="number" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="2" min="1" id="input-quantity"  class="form-control" />
                          </div>
                          <div><button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-sm btn-primary" ><i class="fa fa-refresh"></i></button></div>
                        </div>
                      </li>
                      <!-- <a class="dropdown-item" href="{{ product.href }}"> Alterar Quantidade</a> -->
                    </div>
                  </div>
                </div>                    
              </div><!-- repeat - item -->
              {% endfor %}


              {% for voucher in vouchers %}
              <div class="item d-flex align-items-center">
                <div class="col-xs-1 col-md-1"><b>1x</b></div>
                <div class="col-xs-7 col-md-8">{{ voucher.description }}</div>
                <div class="col-xs-3 col-md-2"><b>{{ voucher.amount }}</b></div>
                <div class="col-xs-1 col-md-1">
                  <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="javascript:;" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i> Remover do carrinho</a>
                    </div>
                  </div>
                </div>                    
              </div><!-- repeat - item -->
              {% endfor %}
              <div class="row mt-3">
                <div class="col-xs-12 col-md-5">
                  <a href="{{ continue }}" class="btn btn-block btn-border-thema">{{ button_add_more }}</a>
                </div>
              </div>
            </div><!-- cart-new -->
          </form>
        </div><!-- col -->
        <div class="col-xs-12 col-md-3">

          {% if modules %}
          <div class="panel-group" id="accordion"> 
            {% for module in modules %}
            {{ module }}
            {% endfor %} 
          </div>
          {% endif %} 
          <br />

          <div class="cart-resume">
            <ul>
              {% for total in totals %}
              <li><strong>{{ total.title }}:</strong> <span class="text-right">{{ total.text }}</span></li>
              {% endfor %}
            </ul>
          </div>

          <div class="buttons clearfix">
            {% if cart_order_total < order_minimum %}
            <a href="javascript:;" disabled class="btn btn-warning btn-lg btn-block">Adicione mais itens</a>
            {% else %}
            <a href="{{ checkout }}" class="btn btn-thema btn-lg btn-block">{{ button_go_checkout }}</a>            
            {% endif %}
          </div>

        </div>
      </div><!-- row -->
      <div class="row visible-xs visible-sm">
        <div class="col-xs-12 col-md-6">
          <h5>Formas de Pagamentos</h5>
          <div class="banner_pagamentos">
            <ul>
              <li class=""><img src="_galerias/payment/deposito.png?{{ random() }}" class="img-responsive" alt="Depósito Bancário"></li>
              <li class=""><img src="_galerias/payment/boleto.png?{{ random() }}" class="img-responsive" alt="Boleto Bancário"></li>
              <li class="parcelamento"><img src="_galerias/payment/parcelamento_cartoes.png?{{ random() }}" class="img-responsive" alt="PayPal"></li>
            </ul>
          </div>
        </div><!-- col-xs-12 col-md-8 -->
        <div class="col-xs-12 col-md-4">
          <h5>Formas de Envio</h5>
          <div class="banner_pagamentos">
            <ul>
              <li class=""><img src="_galerias/shipping/correios.png?{{ random() }}" class="img-responsive" alt="Correios"></li>
              <li class=""><img src="_galerias/shipping/pac.png?{{ random() }}" class="img-responsive" alt="PAC"></li>
              <li class=""><img src="_galerias/shipping/sedex.png?{{ random() }}" class="img-responsive" alt="SEDEX"></li>
            </ul>
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
      {{ column_right }}</div>
    </div>
    {{ footer }} 